[2015-11-29 17:49] rexim opened #1 "Implement function application for beta reduction"

[2015-11-29 18:09] rexim opened #2 "Debug"
We need to come up with something to be able to debug the programs.

Suggested by @IngvarJackal
### Pieces
- [ ] #50 Introduce debug mode
- [ ] #52 Trigger debug mode by a mark before term
- [ ] #53 Trigger debug mode by ^C

[2015-11-29 18:10] Minoru commented on #2
A pen, a notebook and a set of big, powerful brains should do the trick.

[2015-11-29 18:14] rexim commented on #2
@Minoru don't forget a big cup of tea!!

[2015-11-29 18:16] Minoru commented on #2
Oh, right! _Now_ I understand why implementing debug in Horta would be such a hard engineering problem.

[2015-11-30 07:28] rexim opened #3 "Add README"

[2015-11-30 07:30] rexim opened #4 "CI build on every push"

[2015-11-30 07:32] rexim opened #5 "Unit Testing"

[2015-11-30 07:48] #5 closed, assigned to rexim

[2015-11-30 08:01] rexim opened #6 "Parser"
### Lexer
- `[a-z]+`
- `(`
- `)`
- `λ`
- `.`
### Parser

[code]
### Comments

I think we can stick with the Lisp-style comments that starts with `;`.

[2015-11-30 08:22] #4 closed, assigned to rexim

[2015-11-30 08:30] #3 closed, assigned to rexim

[2015-11-30 08:31] rexim opened #7 "Licensing"
MIT

[2015-11-30 09:16] rexim opened #8 "Code coverage"

[2015-11-30 09:17] rexim commented on #8
A brief googling has shown that this is probably the only option we have: http://scoverage.org/

[2015-11-30 09:18] rexim commented on #8
And here is an sbt plugin for that thing: https://github.com/scoverage/sbt-scoverage

[2015-11-30 17:55] rexim commented on #6
@IngvarJackal suggested to use S-expressions as the syntax.

[2015-11-30 20:04] rexim opened #9 "Custom global variables"

[2015-12-01 09:09] rexim commented on #1
Could be useful: https://en.wikipedia.org/wiki/Lambda_calculus#Capture-avoiding_substitutions

[2015-12-01 09:15] rexim commented on #6
Possible look of the S-expr syntax:
- variable: `x`
- function: `(λ x . x)`
- application: `(f x)`

[2015-12-01 09:17] rexim opened #10 "Aliases for commonly used terms"
https://en.wikipedia.org/wiki/Lambda_calculus#Standard_terms

Depends on the Parser: #6

[2015-12-01 09:18] rexim commented on #10
Probably depends on #9

[2015-12-01 19:42] #1 closed, assigned to rexim

[2015-12-01 21:39] rexim opened #11 "Free variables handling in substitution"

[2015-12-02 06:34] rexim opened #12 "Different reduction strategies"

[2015-12-02 08:19] rexim opened #13 "REPL"
Should be implemented after #6

[2015-12-02 08:25] rexim commented on #8
For publishing on coveralls: https://github.com/scoverage/sbt-coveralls

[2015-12-02 08:27] rexim opened #14 "Enable scoverage for the project"
Parent task #8

See https://github.com/scoverage/sbt-scoverage

[2015-12-02 08:28] rexim opened #15 "Publish scoverage results on coveralls"
Parent task: #8
Depends on: #14

See https://github.com/scoverage/sbt-coveralls

[2015-12-02 08:33] #14 closed, assigned to rexim

[2015-12-02 12:07] rexim opened #16 "Alpha-equivalence comparation"
Just add a method to `LambdaTerm` to perform the comparation.

[2015-12-02 14:34] rexim opened #17 "Eta-reduction"
`(\ x . (M x)) -> M`

[2015-12-03 18:25] rexim opened #18 "Rename the project"

[2015-12-03 18:26] rexim commented on #18
Was suggested by Mr @ForNeVeR

[2015-12-03 18:48] #11 closed, assigned to rexim

[2015-12-04 07:51] rexim commented on #18
Let's call it Morgan. =3

[2015-12-04 07:53] ForNeVeR commented on #18
That's much nicer.

[2015-12-06 08:37] rexim commented on #18
`Morgan` is quite popular name for projects: https://github.com/search?utf8=%E2%9C%93&q=morgan&type=Repositories

Don't think we should take it as it is. Maybe modify a bit. Something like `MorganY`. Could be pronounced like `morgany` or like `morgan why`. The last `Y` could stand for Y-combinator or something.

https://github.com/search?utf8=%E2%9C%93&q=morgany&type=Repositories

[2015-12-06 08:40] ForNeVeR commented on #18
Or maybe Morgana? It will be shown before "Morgany" in any alphabet-based list, and simply sounds better IMO.

[2015-12-06 08:46] rexim commented on #18
But there are so many Morganas already on github...

[2015-12-06 08:46] ForNeVeR commented on #18
Not so many as Morgans.

[2015-12-06 08:47] ForNeVeR commented on #18
And your "Morgany" would sound as "Morganie" anyway. Like a pet name for Morgana. Hm, maybe Morganie is a better option?

[2015-12-06 08:47] rexim commented on #18
MorganIE

[2015-12-06 08:48] ForNeVeR commented on #18
No no NO!

[2015-12-06 08:48] rexim commented on #18
Well, I'm ok with Morgana, I think :)

[2015-12-06 08:51] rexim commented on #18
One more suggestion from Mr @ForNeVeR is `Morganey`

[2015-12-06 08:52] rexim commented on #18
Let it be Morganey then!

[2015-12-06 13:58] #18 closed, assigned to rexim

[2015-12-06 16:45] #6 closed, assigned to rexim

[2015-12-06 17:23] #13 closed, assigned to rexim

[2015-12-06 17:26] rexim opened #19 "Successor function doesn't work for zero Church number"
[code]

The output should probably look like `(λf . (λx . (f x)))`

[2015-12-06 18:00] rexim opened #20 "Update README with REPL"
#13

[2015-12-06 18:32] rexim commented on #19
It's not a bug, the result is just not fully reduced. And I was probably too tired to notice that. As Mr @ForNeVeR said the exact result will depend on the reduction strategy #12.

Closing as invalid...

[2015-12-06 18:32] #19 closed, assigned to rexim

[2015-12-08 09:24] rexim commented on #12
Could be useful http://www.cs.cornell.edu/courses/cs6110/2014sp/handouts/sestoft.pdf

[2015-12-08 09:26] rexim opened #21 "Normal order by default in REPL"

[2015-12-08 09:26] rexim commented on #21
Probably depends on #12

[2015-12-08 09:32] rexim commented on #12
The above article defines `normal order` via `call-by-name`. Maybe for now we can implement different reduction strategies (`call-by-value`, `call-by-name`, `normal order`, `applicative order`) as separate methods of the `LambdaTerm` trait and see if we can (and need to) generalize them somehow.

[2015-12-08 18:50] #9 closed, assigned to rexim

[2015-12-09 06:14] #21 closed, assigned to rexim

[2015-12-11 07:38] rexim commented on #16
I think this issue is pretty useless by itself. Could be easily implemented as a part of more useful feature.

[2015-12-11 07:45] #7 closed, assigned to rexim

[2015-12-11 08:11] #20 closed, assigned to rexim

[2015-12-11 09:42] rexim commented on #17
It's more like an optimization that helps to get rid of some redundant lambda abstractions. I think this issue is like #16. It's useful as a part of some another issue. But it's useless by itself. Hence closing.

[2015-12-11 09:42] #17 closed, assigned to rexim

[2015-12-11 20:24] #10 closed, assigned to rexim

[2015-12-15 10:41] rexim opened #22 "Output list of Church numbers as string"
Church numbers should be interpreted as ASCII codes

[2015-12-17 16:59] rexim opened #23 "Global variable binding"

[2015-12-17 17:00] rexim opened #24 "Interpret files"

[2016-01-03 16:05] rexim commented on #2
There is an idea to implement that in a form of a trace or something

[2016-01-05 10:19] rexim opened #25 "Morganey DSL inside of Scala"
For quick AST definition inside of Scala.

[2016-01-05 10:19] #22 closed, assigned to rexim

[2016-01-07 16:59] ForNeVeR opened #26 "JVM compiler"
I think that's a nice idea to have Morganey compiled to JVM code.

[2016-01-07 17:11] #23 closed, assigned to rexim

[2016-01-07 18:29] #24 closed, assigned to rexim

[2016-01-07 18:30] rexim opened #27 "Script interpreter should report about syntax errors"

[2016-01-07 19:52] #27 closed, assigned to rexim

[2016-01-07 20:34] rexim opened #28 "Support comments in scripts"

[2016-01-15 14:34] rexim opened #29 "Parallel reduction"
We need to research what benefits the parallel reduction will give us.

[2016-01-26 17:14] rexim opened #30 "Make our purely functional interpretation more readable"
Basically, get rid of that: https://github.com/rexim/Morganey/blob/b12bc01238754f6cbef61248a7e125ce269687a6/src/main/scala/me/rexim/morganey/MorganeyInterpreter.scala#L28

cc @ForNeVeR

[2016-01-27 05:24] rexim commented on #30
Btw, in the official docs about Streams my approach is demonstrated as a first example %) http://www.scala-lang.org/api/current/#scala.collection.immutable.Stream

[2016-01-27 05:36] ForNeVeR commented on #30
Wow, but such code definitely wasn't compiling for us.

[2016-01-27 05:49] rexim commented on #30
Yeah, that's strange. I'll try to investigate that later today.

[2016-01-27 09:18] rexim commented on #30
Here are some of my observations. Assume we have this classical example of corecursion

`val fibs: Stream[Int] = 0 #:: 1 #:: fibs.zip(fibs.tail).map { n => n._1 + n._2 }`

which lazily generates fibonacci sequence.

If we put it outside of any method like that:

[code]

everything compiles and works perfectly. But if you put it inside of any method like that:

[code]

the Scala compiler complains

[2016-01-27 09:30] ForNeVeR commented on #30
Aha, well. I wasn't aware that it's called corecursion.

I think I have an explanation about that behavior.

When you write this expression as a class field, it will just reference the class field in the lambda body, and everything will be okay (in fact, it does reference `this` and not the field itself, because there is no such thing as "field reference" in Java).

But being written as a local va

[2016-01-27 09:36] rexim commented on #30
@ForNeVeR hm... this is interesting! Thanks for the explanation!

[2016-01-28 15:42] #30 closed, assigned to rexim

[2016-01-28 17:44] rexim opened #31 "Close the reader created in the interpretFile function"
This one: https://github.com/rexim/Morganey/blob/29e75be70dd6ae1cff97179d9b054130b775003d/src/main/scala/me/rexim/morganey/MorganeyInterpreter.scala#L55

[2016-02-02 06:01] rexim opened #32 "Morganey hangs when you use SUCC function incorrectly"
OS:  Linux Mint 17 Qiana, x86_64
Scala: 2.11.7
sbt: 0.13.6

Steps to reproduce:
1. Download [morganey.txt](https://github.com/rexim/Morganey/files/113457/morganey.txt)
2. Run it with: `sbt "run morganey.txt"`

Observed:
Morganey outputed the following [log](https://github.com/rexim/Morganey/files/113460/log.txt) and hung. It didn't crash, it didn't consume memory. It just hung. `htop` showed that

[2016-02-02 06:02] rexim commented on #32
We need to check if it's reproducible from IDEA

[2016-02-02 06:04] rexim commented on #32
This issue is important for https://github.com/codingteam/horta-hell/issues/364 'cause it can exploited via the Lambda plugin.

[2016-02-15 19:26] rexim opened #33 "Morganey Logo"
Draw the Morganey Logo. Basically, it should look like this: `(λ o.o)`

[2016-02-17 20:52] rexim opened #34 "Cancellable evaluation"
Probably will be needed for https://github.com/codingteam/horta-hell/issues/364

[2016-02-21 15:36] rexim opened #35 "Turn based evaluation process"
Currently, the evaluation process (regardless of the reduction strategy) is a solid recursive process, which is hard to predict and hard to interrupt #34

We need to make it turn based. In other words, we need a function called `step: term -> term` that reduces one redex of the input term according to the reduction strategy and returns the next one. With such function the evaluation process is goi

[2016-02-21 15:38] rexim commented on #32
The proposed solution is not correct. Please, revise this issue after resolving #35

[2016-02-21 15:40] rexim commented on #2
After finishing with #35 I think it will be quite easy to implement step based tracing or something like that.

[2016-02-21 20:47] #35 closed, assigned to rexim

[2016-02-21 20:53] rexim commented on #31
Invalidated by a7d30be89dca646b997664605b6eeca55bf3321e

[2016-02-21 20:53] #31 closed, assigned to rexim

[2016-02-28 11:15] rexim commented on #34
I believe the requirements of this proposal are fulfilled by #35. Hence closing.

[2016-02-28 11:15] #34 closed, assigned to rexim

[2016-02-28 11:17] rexim opened #36 "Migrate REPL to the turn based evaluation mechanism"
Required after #35

[2016-02-28 16:47] keddelzz opened #37 "Add number literals to parser"
You could add numbers-literals to your parser, which are automatically converted to the church-encoding.
Then you don't have to add numbers to your standard library, because your parser whould generate these.

This would have the advantage, that your language can handle all numbers,
not only those, which you've specified in your morganey std-lib.

[2016-02-29 15:50] rexim opened #38 "Update BNF in README"
It's slightly outdated. Every time we change something in the parser we need to update it. I'll create a special tag that will indicate any issue that will probably change the parser.

[2016-02-29 15:51] rexim commented on #38
The tag is `syntax`. Any issue marked with this will require the doc change.

[2016-02-29 15:52] rexim commented on #12
The different reductions strategies are already implemented as implicit classes after #35

[2016-02-29 15:52] #12 closed, assigned to rexim

[2016-02-29 15:55] rexim opened #39 "Update warning about stack overflow in README"
After #35 and #36 such term won't cause any stack overflows. It will just consume the entire memory. :D

Maybe we need to add a timeout to the REPL or make the current computation cancellable by `^C`. I think JLine should be able to handle `^C`-s.

[2016-02-29 15:56] rexim opened #40 "Make the current computation cancellable by ^C in REPL"
Was suggested in #39

[2016-02-29 16:06] rexim commented on #40
We can probably simply handle the SIGINT.

[2016-02-29 16:07] rexim commented on #40
The latest version (2.13) of JLine has this thingy: https://github.com/jline/jline2/blob/master/src/main/java/jline/console/ConsoleReader.java#L410

If we wanna use it instead of bare handling of SIGINT, we need to upgrade our JLine from 2.6 to 2.13

[2016-02-29 17:18] rexim opened #41 "Simplify normal order implementation"
I think we can get rid of call-by-name in the normal order strategy. We need to research that.

[2016-02-29 18:04] #36 closed, assigned to rexim

[2016-03-01 16:00] #38 closed, assigned to rexim

[2016-03-01 17:10] #37 closed, assigned to rexim

[2016-03-01 19:44] rexim opened #42 "Cache free variables in terms"
Intuitively it feels like the substitution is quite inefficient right now. We need to research if it really is and find the ways to improve that.

[2016-03-03 18:01] #39 closed, assigned to nobody

[2016-03-06 16:55] #40 closed, assigned to rexim

[2016-03-06 16:58] rexim opened #43 "Migrate script mode to the cancellable evaluation"
After #40 we need to do that.

[2016-03-08 12:32] rexim opened #44 "Get rid of reflective access of structural type member warning"
Currently during compilation we see the following warning:

[code]

It was introduced by #40. We need to get rid of this warning.

[2016-03-08 12:34] ForNeVeR commented on #44
What the hell.

[2016-03-08 12:37] rexim commented on #44
@ForNeVeR, I was just raping the source code of Morganey recently. No big deal.

[2016-03-08 12:38] ForNeVeR commented on #44
Wow, I got that. If you introduce _new_ (i.e. not inherited) public members to the anonymous types generated by `new ... { }` expression, the resulting type (as I understood) will not be used anywhere outside of a `new { }` expression. So `scalac` knows that the type has these members, but falls back to reflection if you want to call them, because it have no permitted way of expressing these membe

[2016-03-08 12:39] rexim commented on #44
@ForNeVeR Hah! That's cool! Thank you! I didn't even think about it. :)

[2016-03-08 12:40] rexim commented on #44
Anyway, I know how to get rid of this. Already planned for today's stream

[2016-03-08 16:18] #44 closed, assigned to rexim

[2016-03-08 17:00] #43 closed, assigned to rexim

[2016-03-11 19:41] rexim commented on #42
Alright, looks like caching free variables work. So I'm gonna stick with it for the scope of this issue.

[2016-03-11 19:41] #42 closed, assigned to rexim

[2016-03-11 20:26] rexim commented on #41
I think I can just get rid of call-by-name in the definition of normal-order. The code will equivalent, I guess. At least I don't see anything wrong here. Also, the `norIsFinished` predicate already doesn't refer to call-by-name for the same reason.

[2016-03-11 20:36] #41 closed, assigned to rexim

[2016-03-11 20:37] rexim commented on #32
Since we improved the substitution performance (#42) and implemented cancellable evaluation (#34). This is not relevant anymore.

[2016-03-11 20:37] #32 closed, assigned to rexim

[2016-03-11 21:28] rexim opened #45 "Make uberjar"
So we are able to use it standalone. Such jar should be not used as a thirdparty dependency.

https://github.com/sbt/sbt-assembly

[2016-03-12 05:21] ForNeVeR commented on #45
Please note that I would prefer simple JAR as a dependency of a Horta plugin.

But maybe users of standalone Morganey version will prefer the "uberjar".

[2016-03-12 05:25] rexim commented on #45
@ForNeVeR yes, this is correct. Uberjar is for standalone usage only. Let me put that in the description.

[2016-03-13 17:10] rexim opened #47 "Publish stable version for thirdparty dependencies"
Needed for https://github.com/codingteam/horta-hell/issues/364

[2016-03-14 06:12] rexim opened #48 "Clean up interpreter API"

[2016-03-14 08:28] rexim commented on #47
https://bintray.com/ should work

[2016-03-14 08:30] ForNeVeR commented on #47
I have an experience with using bintray, so feel free to ask if you need help.

[2016-03-14 08:33] rexim commented on #47
Thank you very much Mr @ForNeVeR :)

[2016-03-14 08:35] rexim commented on #47
May be useful https://github.com/softprops/bintray-sbt

[2016-03-15 19:14] rexim opened #50 "Introduce debug mode"
Split from #2

This can be also called a trace mode.

When the computation is started in debug mode, the result of each reduction step should be displayed to the user and execution of the next reduction step should be performed only by the user demand.

In the debug mode, the following actions should be available:
- Next reduction step
- Resume the computation in normal mode
- Cancel the computati

[2016-03-15 19:15] rexim opened #51 "Limited term rendering depth"
Can be useful for really big terms

[2016-03-17 08:36] rexim opened #52 "Trigger debug mode by a mark before term"
Split from #2
Depends on #50

The debug mode in the REPL should be triggered by a putting a special mark before a term. For example `!`.

[2016-03-18 19:03] rexim opened #53 "Trigger debug mode by ^C"
Split from #2
Depends on #50

I think it's kinda cool if you press ^C during the computation and the REPL suggests you to go to the Debug mode. :)

[2016-03-19 06:43] rexim opened #54 "Debug mode in scripts"
Subtask of #2
Depends on #50

Triggered by a special command line flag

[2016-03-22 18:59] rexim opened #55 "Functional tests"
### Pieces
- [ ] #231 Funtests Windows support
- [ ] #232 REPL funtests support
### Description

We have two modes right now:
- REPL
- Execution

The scope of this issue is to create a bunch of Morganey scripts and programs that cover all of its features, run them on CI and check if everything acts as expected.

Those test should be easily run locally on the developers machines to check stuff befo

[2016-03-22 19:04] rexim opened #56 "Some arithmetic operations hang"
### Relations
- Caused by #49
### Description

For example `(2 2)`

[2016-06-25 19:39] #56 closed, assigned to rexim

[2016-07-01 08:25] keddelzz opened #58 "More literals for Morganey"
As you know, I started working on implementing a interpolator for lambda terms (#25).

In the scope of the issue I played with interoperability between Morganey and Scala. For that it would be nice to make Morganey support other literals as well: char-literals, string-literals, list-literals. This would make the extension for the lambda calculus, which is already included in Morganey (i.e.: int-li

[2016-07-01 08:38] keddelzz commented on #28
This should be very easy! Simply add comments to the whiteSpace-Parser, as described in http://stackoverflow.com/a/5954831

[2016-07-01 08:59] rexim commented on #58
The truth is I've never wanted Morganey to be a real useful programming language. The intension was to create yet another Turing tarpit, embed it to a chat bot and see people play with it. But after adding number literals #37 and bindings #23 it already looks too "useful" for me to actually serve the initial purposes. :D So, hey! Why not? Let's do this! Let's see how far we can go! Maybe we can ev

[2016-07-01 09:02] rexim commented on #28
@keddelzz looks cool! Thanks for such a useful link! :)

[2016-07-01 09:06] rexim opened #59 "Introduce Collapsed Applications"
Derived from https://github.com/rexim/Morganey/issues/58#issuecomment-229895047

Collapsed Application should store left term, right term, and a number which represents how many times the left term was applied to the right one. This may probably help with representing the numbers. We can replace `(\f . (\x . (f (f (f (f (f x)))))))` with `(\f . (\x . [f x 5]))`. And during reduction we should trea

[2016-07-01 09:09] keddelzz commented on #58
I've thought about the different representation, too.
This might be also possible with what i've planned for #25. Maybe we could have a short chat about that later. But as a short introduction for my idea:

[code]

This is totally doable and already planned for #25.

Edit: But this does only effect the evaluation. It will still generate the bloated IR.

[2016-07-01 09:25] rexim commented on #58
Wow! Looks awesome! So it's sorta lambda term destructuring. :) I think I see what you mean here. Right now we already know how to detect numbers and pairs in terms. But we can also detect arithmetic operations over those numbers! That will enable us to perform them on the Scala side (which is incredibly faster) rather than with pure reduction. Do I understand you correctly? I like this idea! :)

[2016-07-01 09:40] keddelzz commented on #58
Yes, you do understand me correctly. Though the detection of complex constructs should be much more easy with the "lambda term destruction" as it is purely with lambda terms.

I understand, that you want to keep all Morganey related conversations in the issue tracker. :)

[2016-07-01 09:49] keddelzz commented on #59
Another idea is to add a special LamdaTerm (e.g. called LambdaNumber), which simply represents an integer, but this would have the consequence, that all operations have to be detected and their effect has to be simulated in scala (similarly as already mentioned in your comment in [#58](https://github.com/rexim/Morganey/issues/58#issuecomment-229900856)).

[2016-07-01 11:51] rexim opened #60 "Detect arithmetic operations and perform them on Scala side"
Derived from https://github.com/rexim/Morganey/issues/58#issuecomment-229900856 and https://github.com/rexim/Morganey/issues/58#issuecomment-229904253

Right now we already know how to detect numbers and pairs in terms. But we can also detect arithmetic operations over those numbers! That will enable us to perform them on the Scala side (which is incredibly faster) rather than with pure reduction.

[2016-07-03 10:58] keddelzz opened #62 "Nil in morganey"
I think it would be nice, of Morganey was able to express nil.

Nil (or for example []) could also be a literal for the empty list (#58).

[2016-07-03 11:12] rexim commented on #62
Bringing some information from our other discussion. I think it's useful and I just don't wanna lose it:

Morganey is not aware of `nil` at all. We encode lists like `(a . (b . (c . d)))`. The last element of the list is the second element of the innermost pair. It's not the best solution, but it was the quickest one at the time. Using a notion of `nil` here would be probably better.

[2016-07-03 11:18] rexim opened #63 "Testing macros in meta subproject on CI"
Derived from discussion: https://github.com/rexim/Morganey/pull/61#discussion_r69382326

[2016-07-03 13:31] keddelzz commented on #63
Some relevant comment from [#61 (comment)](https://github.com/rexim/Morganey/pull/61#issuecomment-230153347):

If you want I could write more (integration) tests for macro expansion results later, but this will have to wait a bit. Maybe I could add some in the next week.

##

I implemented the feature therefore I should be responsible for adding tests. If you want, you can assign this to me (if th

[2016-07-03 13:34] rexim commented on #25
Resolved by 435dd45c9940e8805e9d22927dcb15f83f436deb

[2016-07-03 13:38] rexim commented on #63
@keddelzz sure. I made you a collaborator. ;)

That means you can also push feature branches to this repo instead of the forked one. No need to mess with two origins. :) Hope it simplifies the process of contribution.

[2016-07-03 13:39] #25 closed, assigned to rexim

[2016-07-03 13:40] keddelzz commented on #63
Nice, I was going to ask you about how contribution works :)

That will massively simplify the process!
Thank you! :D

[2016-07-04 08:14] rexim opened #65 "Character literals"
Derived from #58

The syntax should be C-like I guess. Singles quotes and escapable thingies.

[2016-07-04 08:16] rexim opened #66 "List literals"
Derived from #58

Not sure what's the best syntax for that, but maybe square brackets are ok: `[1, 2, 3]`

[2016-07-04 08:20] rexim commented on #62
I think the improvement of the list format described in my previous comment should be done in the scope of this issue.

[2016-07-04 08:45] #58 closed, assigned to rexim

[2016-07-04 08:47] rexim commented on #58
- Implemented string literals in #64
- Created separate issue for char literals #65
- Created separate issue for list literals #66

Closed this issue because its scope is exhausted. Everything is either implemented or has a separate issue.

[2016-07-04 11:43] keddelzz opened #67 "Shorter syntax for lambda terms"
It's a bit troublesome to write and read big terms right now. (At least for me.)

I suggest to add an alternative syntax, as described in [lambda calculus - notation](https://en.wikipedia.org/wiki/Lambda_calculus#Notation) to unclutter the lambda terms a bit.

But I see a problem with the last point:

Because Morganey allows variable names longer than one letter, this abbreviation rule might has t

[2016-07-04 12:06] rexim commented on #67
@keddelzz, It's a nice idea, thanks! :) Was thinking about that too some time ago.

[2016-07-04 12:14] keddelzz opened #68 "Fix detection of strings containing escape-sequences"
Simple example:

[code]

Files that have to be changed:
- [ReplHelper.scala](https://github.com/rexim/Morganey/blob/master/src/main/scala/me/rexim/morganey/ReplHelper.scala)
- [ChurchNumberConverter.scala](https://github.com/rexim/Morganey/blob/master/kernel/src/main/scala/me/rexim/morganey/church/ChurchNumberConverter.scala)

[2016-07-05 10:09] #63 closed, assigned to keddelzz

[2016-07-05 12:48] rexim opened #70 "Autocomplete in REPL"
It would be cool to be able to tab autocomplete vars form the global context.

[2016-07-05 15:49] keddelzz opened #71 "Escaped double quotes don't work in quasiquotation"
... because there is a bug in the scala compiler, see [SI-6476](https://issues.scala-lang.org/browse/SI-6476) for details.

[2016-07-05 20:57] rexim commented on #71
And just wanna have it mentioned in this ticket that it's possible to use multiline strings as a workaround:

[code]

[2016-07-05 20:59] #65 closed, assigned to keddelzz

[2016-07-09 08:55] keddelzz opened #73 "Extensible standard library / module system"
It would be nice, if Morganey knew some basic operations like `succ`, `pred`, `id`, `first`, `second`... Therefore I suggest the implementation of a standard library, which can be extended by the user of morganey.

My idea is, that there's a folder somewhere on the computer where you can add morganey-source-files and they are automatically loaded into each REPL-session and as a library for each pr

[2016-07-09 13:54] rexim commented on #73
This is a great idea! I completely agree that we need a standard library. I currently formalizing how I see the idea. I'm gonna post my vision as soon as possible (probably in a couple of hours or so) and we can discuss everything. :)

[2016-07-09 14:52] rexim commented on #73
Alright, this is my vision of the Morganey Module System. I'd like to go with the common for most of the languages approach.

# Morganey Module System

## Module

We introduce a notion of a module. A module is a separate script file with a bunch of Morganey bindings.

## Module Path

We introduce a notion of the Module Path. It is similar to the Java's Class Path. Basically the place where Morgane

[2016-07-09 16:28] keddelzz commented on #73
Your ideas are basically what I dream to have in Morganey. I would not like modifying environment variables for changing the morganey-path, so I suggest using commandline flags.

My first idea was just to have a single directory where you can put files, which are automatically loaded into scripts and the repl. Your approach is much more evolved than mine. With the use of general modules my suggest

[2016-07-09 16:39] rexim commented on #73
@keddelzz, cool! Glad that you like it. :) It doesn't look to difficult for me to implement the entire idea. Don't you mind if I take this issue and plan it for tomorrow's stream?

[2016-07-09 16:42] rexim commented on #73
If you wanted to implement this by yourself it's ok. I can pick something else. :)

[2016-07-09 17:11] keddelzz commented on #73
No of course you can implement it tomorrow! After all, it's your project.

[2016-07-09 17:13] rexim commented on #73
Cool! Thank you! :)

[2016-07-09 21:03] keddelzz opened #75 "Fix nullpointer exception on ctrl-d in repl"

[2016-07-10 04:45] rexim commented on #28
Resolved by d20ce7c9244883e6834a5a0f26a0c280e8df9a21

[2016-07-10 04:45] #28 closed, assigned to rexim

[2016-07-10 08:02] #75 closed, assigned to keddelzz

[2016-07-10 12:23] keddelzz commented on #33
What if the logo was just the word "Morganey" spelled with a few greek letters? For example:
![morganey](https://cloud.githubusercontent.com/assets/3746739/16713499/ca8f9fd8-46a9-11e6-8dcf-7c31673ba983.png)

[2016-07-10 12:27] ForNeVeR commented on #33
I am not sure whether `λ` could be read as `y` and that `η` could be read as `n`. I think that it's better to replace the letters phonetically, but overall I like the idea.

Remember, we don't want the Greek guys (ancient or otherwise, although we probably care more about the ancient ones) to laugh on our illiteracy.

[2016-07-10 12:29] keddelzz commented on #33
Well, I agree! This was just a quick idea I've had. :)

[2016-07-10 12:44] ForNeVeR commented on #33
My Ancient Greek approximation is `μωργᾰνῐ` (I was using [this](https://en.wikipedia.org/wiki/Help:IPA_for_Greek) phonetic translation). But probably it's too fancy, because I doubt that guys not familiar with Ancient Greek will read that as "Morganey" :crying_cat_face:

[2016-07-10 12:54] keddelzz commented on #33
I have to confess, that after seeing the word `μωργᾰνῐ`, I would not know what the name of the project is. So maybe my ancient Greek is not good enough (or maybe I've no knowledge about the Greek alphabet at all :))

[2016-07-10 12:56] ForNeVeR commented on #33
I agree that it's counter-intuitive in context of a "common" modern Latin alphabet interpretation, so I think we're open to suggestions.

[2016-07-10 13:17] rexim commented on #33
What is going on here?
![id](https://cloud.githubusercontent.com/assets/165283/16713745/dd6e4fae-46d2-11e6-9ef0-c4442b241b1d.gif)

[2016-07-10 13:23] rexim commented on #33
@keddelzz I actually like your suggestion. Thanks! Let's keep it as an option. I'm not 100% confident about any available variant of the logo right now. So let's just keep this thread going. Maybe some day we will find something interesting. :)

[2016-07-11 12:01] rexim opened #78 "Standard Library"
Derived from #73

Implement common lambda calculus functions and put them to the standard library and the `std` folder

[2016-07-11 12:02] rexim opened #79 "Prelude mechanism"
Derived from #73

A module in the `std` folder that is always automatically loaded in any Morganey session

### Pieces

- [x] #348 Implement prelude mechanism for execution mode
- [x] #351 Use prelude module injection mechanism for REPL mode
- [x] #346 Update samples with respect to autoloading of std.prelude module

[2016-07-11 12:04] rexim opened #80 "Handle cycled loads"
Derived #73

Don't know what's the best way to handle cycled loads, but we may try to simply ignore load expression when the same module is tried to be loaded more than once.

[2016-07-11 13:00] rexim opened #81 "Emacs major mode for editing Morganey files"
We can put it to this repo for now (MELPA can package files from repos selectively). If it gets anywhere, we will move it to a separate repo.

The scope of this issue
- Hightlight keywords: `λ`, `load`
- Hightlight strings and chars
- Hightlight comments
- Support for commenting regions (`comment-dwim`, etc)

[2016-07-11 14:05] #73 closed, assigned to rexim

[2016-07-11 14:06] rexim commented on #73
Exausted the scope of this issue. Thus closed.

[2016-07-11 14:18] rexim opened #82 "Morganey Program Execution Semantic and Side-effects"
During my work on #77 I faced the problem that we don't have formalized the Morganey Program Execution Semantic and its Side-effects. Which actually makes the implementation of the Morganey Interpreter pretty weird and hard to maintain.

On the stream @keddelzz suggested to implement some sort an entry point binding. For some reason I didn't like the idea at first, but after thinking about it for

[2016-07-11 14:50] keddelzz commented on #82
I like this proposal! The semantics of a program are now much clearer to me. :)

##

It has to be semantically verified, that the main binding exists, if there is an explicit entry point to a program. The implementation of the verification should be no problem, though. But It requires a new "compilation phase" after the parser.

[2016-07-11 15:01] rexim commented on #82
@keddelzz yep, completely agree with you regarding the entry point verification.

If nobody minds I'm gonna keep it assigned on me. I actually want this to be implemented as soon as possible, because this is gonna define the entire direction of the project. So I willl try to get something done by tomorrow offscreen.

[2016-07-11 15:28] keddelzz commented on #82
I don't mind at all!

[2016-07-11 16:07] keddelzz opened #83 "Make commands distinguishable from terms in repl"
As of now, typing `exit` into the repl closes the repl-session. But the name `exit` could also be a valid identifier in Morganey.

It would be nice, if commands would be distinguishable from variables. I propose prefixing commands with a char, that's invalid as a start of an identifier (for example `:`).

[2016-07-11 16:21] keddelzz opened #84 "Selectable reduction strategy"
I'd like to have the possibility to choose which reduction strategy is used to evaluate a script or a term in the repl.

In the follwing I'd like to present the ideas I have for scripts and terms. Your ideas are welcome.
##

I suggest adding a new command to the repl, which lets you set the reduction strategy.
For example:

[code]
##

As for the evaluation my idea is to add a flag to the interpret

[2016-07-11 16:21] rexim commented on #83
I remember I even said that on record, but it's pretty hard to find that stream recording at the moment. I said something like if you type `exit` in the REPL, like nothing else, just a bare word `exit`, you most probably want to exit the REPL and not the term `exit`, so we can safely sacrifice this name. :)

But I agree with you. It was just a quick dirty solution and I was kind of joking about th

[2016-07-11 16:24] keddelzz commented on #83
Can't remember you saying that! I might have missed it. :)

[2016-07-11 16:49] rexim commented on #84
The problem is that our Smart Church Structure Detector completely relies on the normal order.

For example, here I just hardcoded the REPL to use call-by-name instead of normal order:

[code]

And here you go! The result is not recognizable as a number anymore! From the call-by-name's point of view there are no beta-redices in the head position of the term so nothing to reduce. But the normal ord

[2016-07-11 17:08] keddelzz commented on #84
I didn't think that the detection of terms will be a problem, if they're evaluated using the call-by-name reduction strategy.

Actually, I like the detection of terms.
So maybe this isn't a good idea, should I close this issue then?

[2016-07-11 17:40] rexim commented on #84
No-no, let's keep it. It's actually interesting. I'm just thinking, is it possible to craft the `succ` operation that reduces to the normal form with call-by-name strategy? I don't actually know the answer. :) It's probably possible. And if it is, the implementation of such function is gonna be completely different. I mean in that case the detection problem is actually just a matter of using right

[2016-07-11 18:07] keddelzz commented on #84
Ok! I'll add the research label :)

[2016-07-11 18:07] rexim commented on #84
Cool! Thanks!

[2016-07-12 07:35] keddelzz commented on #70
Basic functionality implemented in c6a765c, but I want to add autocompletion for module-paths in load-statements as well :) I'll create a PR, as soon as I've implemented it!

[2016-07-12 07:41] rexim commented on #70
@keddelzz wow! That is so cool! Looking forward to review that. :)

[2016-07-12 09:14] rexim opened #85 "Modify Module Path via command line flag"
Derived #73

[2016-07-12 09:14] rexim commented on #85
Almost forgot about this one. :)

[2016-07-12 14:35] rexim commented on #82
Didn't have a chance to work on this today. Will try to find some time on this week.

[2016-07-13 12:29] keddelzz commented on #70
Autocompletion for paths in load statements is implemented with 08c69ce. I'll add some unit-tests (hopefully) later today, then I'll create a pull request.

[2016-07-13 13:46] rexim commented on #70
Sure, take your time! :)

[2016-07-13 14:45] rexim opened #87 "Autocompletion for REPL commands"
Derived from https://github.com/rexim/Morganey/pull/86#issuecomment-232375532

[2016-07-13 16:07] rexim opened #88 "Module Finder as the part of the Global Context"
Derived from https://github.com/rexim/Morganey/pull/86#discussion_r70649028

[2016-07-13 16:16] rexim opened #89 "Reuse LambdaParser in REPL autocompletion"
Derived from https://github.com/rexim/Morganey/pull/86#discussion_r70655203

[2016-07-13 16:34] rexim opened #90 "Proper error reporting for suppressed Module Finder errors in the REPL autocompletion"
Derived from https://github.com/morganey-lang/Morganey/pull/86#r70654126

[2016-07-13 16:56] #70 closed, assigned to keddelzz

[2016-07-13 17:06] keddelzz commented on #89
The most obvious solution: We could extract all regex (as strings) from the Parser into a separate object. Both parser and ReplAutocompletion could use it from the object. This would allow us [this](https://github.com/rexim/Morganey/blob/master/src/main/scala/me/rexim/morganey/ReplAutocompletion.scala#L142) regex.

[2016-07-13 17:28] rexim commented on #89
And for modules autocomplete I literally did this:

[code]

and it sorta worked. The only downside was I couldn't see any available variants when I didn't type at least one symbol of a module path. The `loadStatement` regex just allows to not have a name for the module while `LambdaParser.loading` does not.

Ideally, that would be cool to just reuse our existing parsers. But it's quite hard right

[2016-07-13 17:46] keddelzz opened #91 "Repl fails on input"
[code]

[code]

The problem is that in [this line](https://github.com/rexim/Morganey/blob/e2a146b3918d5aabdc11ac35888c64037963a645/src/main/scala/me/rexim/morganey/Main.scala#L38) the parse method is used instead of parseAll.

[2016-07-13 17:55] keddelzz opened #92 "Transitive load not working on Windows"
If a module `A` contains a load-statement, which loads module `B` and `A` gets loaded `B` won't be, yet.

[2016-07-13 17:55] rexim commented on #91
Don't quite understand how `parseAll` would help. The syntax definition literally says that the application should be [enclosed by parenthesis](https://github.com/rexim/Morganey/blob/e2a146b3918d5aabdc11ac35888c64037963a645/kernel/src/main/scala/me/rexim/morganey/syntax/LambdaParser.scala#L68). You will still get an error, because the correct syntax right now is `((PLUS 2) 3)` no matter how you pa

[2016-07-13 18:01] keddelzz opened #93 "Autocompletion on Windows"
If

[code]

is entered into the REPL, it autocompletes to

[code]
##

If

[code]

is entered into the REPL, it autocompletes to

[code]
##

Don't mind the `?` instead of the `λ`, the windows terminal can't display it, correctly.

[2016-07-13 18:03] keddelzz commented on #91
`parseAll` requires the parser to look at the whole input, instead of the first correct prefix. You are absolutely right, that this is wrong syntax for an application, but I'd like to get an parser error for that.

[2016-07-13 18:07] rexim commented on #91
Ah, very well then. So after this change the REPL gets a bunch of commands per user input instead of one. Just to clarify, how are we gonna evaluate them? Sequentially one by one as if they were entered separately, right?

[2016-07-13 18:07] keddelzz opened #94 "Loading of modules on Windows"
If I type

[code]

into the repl, it will respond with an parse error

[code]
##

I think this is a problem with the default charset of the parser used [here](https://github.com/rexim/Morganey/blob/master/src/main/scala/me/rexim/morganey/MorganeyInterpreter.scala#L87). We might use UTF-8 as the default charset for reading files.

[2016-07-13 18:08] keddelzz commented on #91
No the repl will still get only one command per user input. But it will read the entire input, instead of accepting after the first match.

[2016-07-13 18:11] rexim commented on #91
Oh, ok. For some reason I just thought parseAll repeatedly parses input until it parses everything. Looks like I was wrong. Thanks for the explanation! :)

[2016-07-13 18:13] keddelzz commented on #91
No problem. :)

[2016-07-13 18:13] rexim commented on #93
Just to clarify, because it was not said explicitly in the issue description. The problem is that on Windows autocomplete suggests the wrong module path separator, right?

[2016-07-13 18:15] keddelzz commented on #93
I think so!
But I don't know why, we both used `File.separatorChar`. Maybe the constant is wrong for some reason.

[2016-07-13 18:18] rexim commented on #92
I don't quite understand what's the problem here. If I understood you correctly this is exactly how `load prelude` works right now. You load `prelude` and it transitively loads `math.arithmetic`. Could you please clarify this issue?

[2016-07-13 18:21] keddelzz commented on #92
If prelude is loaded, it **should** transitively load `math.arithmetic`, but it doesn't.

Maybe I should have said this more clearly. :)

[2016-07-13 18:22] rexim commented on #92
Works for me on Linux.

[code]

Did you test on Windows?

[2016-07-13 18:23] keddelzz commented on #92
Yes, this might be the problem!

[2016-07-13 18:23] rexim commented on #92
Thanks! I've modified the title accordingly. :)

[2016-07-13 18:24] keddelzz commented on #92
This issue is probably related to #94. So this is a duplicate then.

[2016-07-13 18:27] rexim commented on #92
@keddelzz do you want to close it as a duplicate?

[2016-07-13 18:28] #92 closed, assigned to nobody

[2016-07-13 18:31] keddelzz commented on #92
Do I need to do something more to close it as a duplicate? :)

[2016-07-13 18:36] rexim commented on #92
Nope, that's enough. Thanks! The most important thing is we have linked this conversation with #94, and now whoever is gonna work on #94 can find it and probably get something useful from it. :)

[2016-07-13 21:23] rexim commented on #88
I'm basically done on that. Still want to clean up a bit and add couple of tests, but already falling asleep. Gonna create PR tomorrow.

[2016-07-14 05:03] ForNeVeR commented on #93
Actually it can. That's the problem of non-unicode API users, and not the general problem of Windows' terminal. With the proper terminal settings and software it's capable of displaying the Unicode characters. I was able to reproduce the issue and currently haven't invented a workaround for Morganey. I'll extract it to separate issue and take a closer look later.

[2016-07-14 05:05] ForNeVeR opened #95 "Unicode in REPL on Windows"
It'll be a tough problem, but we should take a look.

So, currently Morganey REPL uses Unicode characters such as `λ` in its prompt, but nobody was able to see them in Windows terminal. Ordinary tricks such as `chcp 65001` weren't working for me.

We should research the issue and maybe invent some workaround.

[2016-07-14 07:25] keddelzz commented on #93
I think I've found the source of the bug:
The `relativize`-function ([here](https://github.com/rexim/Morganey/blob/88-module-finder-global-context/src/main/scala/me/rexim/morganey/ReplAutocompletion.scala#L77)) always returns a path separated by `/`. `File.separatorChar` returns `/` on linux and `\` on windows. The replace function used [here](https://github.com/rexim/Morganey/blob/88-module-finde

[2016-07-15 13:41] #88 closed, assigned to rexim

[2016-07-16 06:27] keddelzz commented on #83
Which prefix should be used for commands? My suggestions were `:`, `!` or `/`.

@rexim What do you think? Do you have different ideas?

[2016-07-16 06:32] rexim commented on #83
As a big fan of Haskell, I like `:` more. :) They use it in ghci.

[2016-07-16 06:47] keddelzz commented on #83
`:`is also used in the Scala REPL.

[2016-07-16 15:23] rexim commented on #83
Well, looks like Scala developers are fans of Haskell too! :D

[2016-07-17 08:10] #94 closed, assigned to keddelzz

[2016-07-17 08:13] rexim opened #98 "CI on Windows"
Currently our build fails on Windows because of #93 and we cannot even see that. We need to perform CI on Windows as well. https://www.appveyor.com/ is probably fine.

[2016-07-17 08:19] ForNeVeR commented on #98
Feel free to ask for consultation about Appveyor; I'm successfully using it for some of my projects.

[2016-07-18 19:03] #93 closed, assigned to keddelzz

[2016-07-19 06:32] ForNeVeR commented on #98
A side note: https://www.appveyor.com/docs/build-cache

Other guys tend to use it when installing sbt, see [sbt-native-packager](https://github.com/sbt/sbt-native-packager/blob/master/appveyor.yml) as an example. Although I'm not sure if we shouldn't install sbt through choco and preserve choco cache instead. It seems to be a better option.

[2016-07-19 14:59] #98 closed, assigned to ForNeVeR

[2016-07-26 21:10] keddelzz commented on #91
Can I close this issue then? It was fixed with PR #102. :)

[2016-07-26 21:23] rexim commented on #91
Ah! Yes, of course! Btw, that's why I always put `Close #<number-of-issue>` in the description of the PR, because GitHub closes the issue automatically once the PR is merged. ;)

Forgot to do that this time, though...

[2016-07-26 21:23] #91 closed, assigned to keddelzz

[2016-07-27 06:21] keddelzz commented on #91
Nice, to know thank you! I'll add `close #issue` to PRs in the future, too!

[2016-07-27 18:23] keddelzz commented on #89
I would like to do a trial-implementation of this issue. @rexim Do you have a problem with me creating a PR as a design-idea once this is ready?

[2016-07-27 18:49] rexim commented on #89
@keddelzz sure! It's a great idea! I actually like to use GitHub's PR mechanism as a form of communication. :)

[2016-07-29 10:32] keddelzz commented on #89
closed with merge of PR #104

[2016-07-29 10:32] #89 closed, assigned to keddelzz

[2016-07-29 10:49] rexim commented on #89
@keddelzz thanks for closing that! My focus is scattered accross so many things these day I even forget to close the issues. :D

[2016-07-29 10:56] keddelzz commented on #89
No problem. :)

[2016-07-29 10:58] keddelzz commented on #89
I have, after all, forgotten to put `closes #89` into the description of the PR.

[2016-08-01 16:38] keddelzz commented on #81
It would be nice, if the parser was not reimplemented in another language. Maybe the major emacs mode could communicate with an instance of the Morganey-compiler, which is run as a separate process, over the network. (The same way ENSIME is integrated in emacs.)

[2016-08-01 17:07] rexim commented on #81
@keddelzz, yep, sounds like a good idea. Honestly, I wouldn't do it for the syntax highlight ('cause if you want to edit a couple of lines starting a fat JVM process is a bit tedious IMO). But for semantic hightlight (like ENSANE hightlights implicit stuff), autocompletion and navigation I would totally use that approach. Thanks!

[2016-08-01 17:51] rexim commented on #81
And regarding the syntax hightlight, I doubt that a usable hightlight will require more than defining a couple of keywords. We don't need the entire BNF definition for that. So I wouldn't worry about a separate process just for the syntax hightlight. But for everything else, yes, a separate process would be useful.

[2016-08-01 19:19] keddelzz commented on #81
What exactly do you plan on implementing in the scope of this issue? Just a syntax highlighter or also autocompletion and navigation?

[2016-08-01 19:33] rexim commented on #81
@keddelzz Right, I didn't realize that this issue has a vague scope! Thanks! I plan to implement basic syntax highlight and indentation. Just something to start with. And everything else is gonna separate issues. Let me put that in the description...

[2016-08-01 19:37] rexim commented on #81
Done. Decided not to put indentation to the scope of this issue. Don't actually know what is a sufficient solution for that yet. I better make it a separate issue later.

[2016-08-01 20:22] rexim commented on #81
Btw, Mr @ForNeVeR made https://github.com/ForNeVeR/cil-mode a while ago. It can be used as a reference here, I guess.

[2016-08-07 16:29] rexim opened #106 "Add execution semantic specs to wiki"
Derived from https://github.com/rexim/Morganey/pull/105#issuecomment-238091831

**UPD.** Mention example from https://github.com/rexim/Morganey/pull/105#discussion_r73805017
- [input.txt](https://github.com/rexim/Morganey/files/405601/input.txt)
- [main.morganey.txt](https://github.com/rexim/Morganey/files/405602/main.morganey.txt)

[2016-08-07 16:52] #82 closed, assigned to rexim

[2016-08-07 18:10] keddelzz commented on #83
It would be very easy to change `exit` in [this](https://github.com/rexim/Morganey/blob/master/src/main/scala/me/rexim/morganey/Main.scala#L79) line to `:exit`. I suggest including the separation of commands into a collection to the scope of this issue. If commands get separated into a list/map, it could be used in Autocompletion for REPL commands (#87).

[2016-08-07 19:09] rexim commented on #83
@keddelzz yeah, sure. Sounds reasonable.

[2016-08-14 15:01] rexim opened #107 "Switch the wiki platform"
### Final Decision

Local `doc/` folder in the src code repo
### Scope

Take `*.md`'s from wiki and put them to the `doc/` folder in the source code repo preserving the history. `git subtree` and stuff.

---

I don't like that GitHub's wiki is disconnected from the issue tracker (I cannot close issues from commit message to wiki repo). Let's search for alternatives. For example, https://readthedoc

[2016-08-14 15:05] ForNeVeR commented on #107
I have been using it for another community project - [Naggum](https://github.com/codingteam/naggum). It looks nice, but requires configuration in python. Check [the config](https://github.com/codingteam/naggum/blob/develop/docs/conf.py), it's pretty big. I'd prefer some solution with lesser configuration required (and I'd even switch Naggum to it).

[2016-08-14 15:10] rexim opened #108 "Implement REPL IO semantic"
Extracted from #82
## REPL

REPL allows the user to input loadings, bindings and free terms. REPL keeps track of all the available bindings in the global context. When a binding or a loading is entered the REPL updates its global context with the new available bindings. Each time the user enters a free term to reduce the REPL contructs the following term

[code]

and reduces it. The result of redu

[2016-08-14 15:19] rexim commented on #106
https://github.com/rexim/Morganey/wiki/Execution-Mode-Semantic

[2016-08-14 15:19] #106 closed, assigned to rexim

[2016-08-14 15:38] rexim opened #109 "Dependent bindings problem"
Since all of the bindings are simply wrapped around the final expression https://github.com/rexim/Morganey/wiki/Execution-Mode-Semantic#term-compilation-and-execution it's not clear how to make them dependent on each other and how should it work semantically. We need to research that.

[2016-08-14 19:07] keddelzz commented on #107
Maybe the simplest solution is to use Morganeys repo itself. There could be a `docs/` or `wiki/` folder where all wiki-related resources and and the wiki is located. The wiki could be written in Markdown or Org-Mode, and be "build" to pdf and html using [pandoc](http://pandoc.org/) or displayed  by Github.

Edit: That would be similar to the idea to use ReadTheDocs, though. But with pandoc the sty

[2016-08-15 02:42] ForNeVeR commented on #107
Well, ReadTheDocs supports custom themes too. It uses some sort of Python standard tool [Sphinx](http://www.sphinx-doc.org/en/stable/) to build the docs. And yeah, the pages will be stored in the repo, too.

I am not sure what should we do here. Maybe take a look at scaladoc?

[2016-08-15 02:47] ForNeVeR commented on #107
Probably the simplest approach would be to just put the `*.md` docs to the `doc/` directory. They will be part of main Morganey repo, and guys could then send patches to them using standard GitHub UI.

[2016-08-15 09:16] rexim commented on #107
I think I like the idea with `doc/` in the repo:
- Docs are connected with issue tracker:
  - I can close issues with commits related to the docs
  - I can refer to exact revision of a doc page
- Docs are available offline!
- We can do custom generation:
  - Our own styles
  - Our own features:
    - Issue number autodetection and generation corresponding link (yes, GitHub wiki doesn't support thi

[2016-08-15 10:39] rexim commented on #109
We can [Top Sort](https://en.wikipedia.org/wiki/Topological_sorting) them though. But it doesn't allow recursive bindings anyway.

[2016-08-15 10:39] rexim commented on #109
Do we even need recursive bindings? I mean in pure Untyped Lambda Calculus there is no any recursion. It's usually achived via the Y-combinator.

[2016-08-15 11:40] ForNeVeR commented on #109
I think that's okay to require explicit application of Y-combinator from our users.

[2016-08-15 12:06] rexim commented on #109
Yeah, I like this idea too. I was thinking about transforming recursive bindings into code that uses Y-combinators during the compilation, but it seems too complicated for now.

We can simply forbid any cyclic binding dependencies (which allows us top-sort them before wrapping them over the entry point) and ask user to explicitly use Y-combinators.

[2016-08-16 07:20] keddelzz opened #110 "Syntax for parameters which are unused"
Instead of

[code]

one could write

[code]

[2016-08-16 07:28] keddelzz opened #111 "Where-clause for bindings"
Introduce `where`-clause for bindings for eliminating duplicate code.

Instead of writing

[code]

you could write

[code]
##

As for the syntax: I introduced the `where`-keyword in the example, which uses curly-brackets. Currently Morganeys parser won't support the `where` clause, in which all local bindings are indented. (Because the parser doesn't care about whiteplace. If all bindings of a whe

[2016-08-16 07:38] keddelzz commented on #110
After shortening the syntax (#67) it would be even more readable, if not every variable has to have a name.

Syntax after #67 (could be):

[code]

[2016-08-16 07:41] rexim commented on #110
I like this idea! Thanks! Let's implement it! :)

[2016-08-16 07:58] rexim commented on #111
I'm not sure about this one... Where-clause is essentially an idea of private bindings. Do we really need private bindings right now? I could rewrite the above expression like:

[code]

And technically where-clause would be a change in the binding wrapping order (See #109), which is undefined right now.

I'm not against this proposal either. Just not sure if we need it now. Maybe a bit later once

[2016-08-16 08:05] keddelzz commented on #111
You are right, you could rewrite the above expression, but `gid` would in this case pollute the namespace. I think Morganey should have a form of private bindings: Either those implemented with the `where`-clause or private in the module (as shown in the example below):

[code]

Personally, I like the `where` clauses more.

[2016-08-16 08:12] rexim commented on #111
I also like where-clause more. As I already said I'm not against this feature. I simply do not see how it fits the current semantic and execution of Morganey program. Furthermore, I don't see how any kind of access control fits there right now. What I suggest is to resolve #109 and then get back to this discussion. :)

I completely aware of namespace pollution with my approach. I just showed how w

[2016-08-16 08:20] rexim commented on #110
We should try to reuse [this code](https://github.com/rexim/Morganey/blob/a12cd2a94e7529ca08459a962e3526501c9acce1/kernel/src/main/scala/me/rexim/morganey/ast/LambdaTerm.scala#L37) for generating internal names for such unused variables.

[2016-08-16 08:52] keddelzz commented on #66
Do you mind if I implement this issue, once branch [62-empty-list](https://github.com/rexim/Morganey/tree/62-empty-list) is merged? Which syntax do we want for lists?

I have to confess I don't like list-literals, whose elements are separated by spaces. Do you insist having the syntax proposed in the description of this issue, or could we discuss using `,` as a separator?

[2016-08-16 09:08] rexim commented on #66
Oh my! I'm really sorry! Didn't know I block you! I was planning to wrap up with #62 on Saturday, but I'll try to find some time on Wednesday ('cause today I'm preparing for the Haskell stream).

Of course, I don't mind if you take this! :) Comma as a separator is good. I don't remember why I separated elements with spaces only. Probably was just rush typing. Let me fix the description...

[2016-08-16 09:20] keddelzz commented on #66
You don't block me :) Take your time, there is no need to hurry.

If I really wanted I could implement this now and add support for empty lists (`[]`) after #62 is done.

[2016-08-16 09:26] keddelzz commented on #66
Should we also add haskells `[1,2 .. 10]` notation for ints and chars?

[2016-08-16 09:29] rexim commented on #66
Would be good to implement. But it sounds like a separate issue to me.

[2016-08-16 09:32] keddelzz commented on #66
I disagree! I think they feel also like list-literals in a sense. So why not add this to the scope of this issue?

[2016-08-16 10:08] rexim commented on #66
@keddelzz, lol, that's just my opinion. :) You asked for it, I gave it to you. If you think that I'm gonna decline a PR just because it contains a small thing (which should not by the way screw up the entire semantic of the language) that I believe is slightly out-of-scope, well that's not true. :D Wanna do that in the scope of this issue? Sure, why not. Just make a PR and we gonna discuss everyth

[2016-08-16 10:14] keddelzz commented on #66
Ok :+1:.

##

To sum our conversation up: I'ill implement this issue after #62 is done and add the notation `[1,2 .. 10]` as well.

[2016-08-17 08:35] rexim opened #112 "Module reloading in REPL"
~Blocked by #198~

Right know if you load a module twice in REPL it will just create duplicate bindings in the interpreter context. Maybe we should track the modules where the bindings come from and replace what is being reloaded.

[2016-08-17 08:45] rexim opened #113 "Better label system for issue tracker"
I like how NixOS utilizes GitHub issue labels: https://github.com/nixos/nixpkgs/labels They are trying to emulate fields from the normal issue trackers:
- `0.kind`
- `1.severity`
- `2.status`
- `3.skill`
- `6.topic`
- `etc.`

I want to adapt such system for Morganey. In the scope of this issue I will prepare the set of fields, possible field values and instructions in which situations they have to

[2016-08-17 09:19] rexim commented on #109
We also need to make sure that this REPL too

[code]

[2016-08-17 09:55] ForNeVeR commented on #113
For some reason they're missing 7.

[2016-08-17 09:59] rexim commented on #113
I think it's a secret field! For secret purposes!

[2016-08-17 15:04] rexim opened #115 "Warning during testing"
https://travis-ci.org/rexim/Morganey/builds/150446450#L464

[2016-08-17 15:49] #62 closed, assigned to rexim

[2016-08-17 18:16] keddelzz commented on #113
To be honest, I don't see the benefit of adapting the idea of NixOS' labels. But If you want to change the label system, I won't protest :)

[2016-08-17 19:00] keddelzz opened #116 "Update sbt version"
Why is Morganey [configured to use](https://github.com/rexim/Morganey/blob/master/project/build.properties#L1) an old sbt version to build? Is this particular version required?
##

Proposed fixes:
- We could configure it to use the latest version (`sbt.version = 0.13.12`).
  or
- Deleting the file `build.properties` will result in sbt always using the latest version.

[2016-08-17 19:20] rexim commented on #116
Accepted.

Don't think so. Probably just googled and copypasted something :D

[2016-08-17 19:21] rexim commented on #116
Or probably it was autogenerated by Intellij IDEA! Yeah, definetly. Looks pretty IDEA-ish.

[2016-08-18 08:46] ForNeVeR commented on #116
I think that it's always good to define versions of _everything_: Scala, sbt, every library used. So I vote against deleting `build.properties`, but it's totally ok to update the sbt version there.

It helps us to build application if the user have some older version installed. Sbt launcher will download and execute the right version the application is guaranteed to work with.

[2016-08-18 08:49] ForNeVeR commented on #113
I think @rexim wants to experiment with GitHub issues to see if they can be made more usable by any means. I am interested in this experiment too (because we have a huge backlog of open-source projects and it's always good to know the current state of the issues there). So if @rexim wants to, I vote for that experiment.

[2016-08-18 09:26] keddelzz commented on #116
@ForNeVeR Good point!

[2016-08-18 09:28] keddelzz commented on #113
Thank you @ForNeVeR for your explanation. I didn't know that the changing of the label names will an experiment.

[2016-08-18 09:35] rexim commented on #113
Ah, @ForNeVeR knows me really well :D It's actually true. Ideally I want to come with an approach that is usable across all of the [Codingteam projects](https://github.com/codingteam/)

[2016-08-19 04:47] rexim commented on #107
This can be useful https://github.com/blog/2228-simpler-github-pages-publishing

[2016-08-19 06:08] rexim opened #118 "Move README BNF sections to docs"
Derived from https://github.com/rexim/Morganey/pull/117/files#r75431470

This one ~~https://github.com/rexim/Morganey#repl~~ https://github.com/rexim/Morganey/tree/d7ddb6051df8fef02cc4e7be669f4dd024378faf#bnf

[2016-08-19 15:19] rexim opened #119 "Make morganey.macro._ accessible everywhere"
Derived from https://github.com/rexim/Morganey/pull/117#discussion_r75500216

https://github.com/rexim/Morganey/tree/84d6bbe60a2a4131bb82fad7dcd495ace90d3122/macros

[2016-08-19 15:36] rexim opened #120 "Morganey way ranges"
Derived from https://github.com/rexim/Morganey/pull/117#discussion_r75447348

[2016-08-19 15:38] #66 closed, assigned to keddelzz

[2016-08-20 10:46] keddelzz opened #123 "Empty files not working"
Empty modules cause an exception when evaluated, because of an invocation of the head method on an empty lists. [source](https://github.com/rexim/Morganey/blob/master/src/main/scala/me/rexim/morganey/interpreter/MorganeyInterpreter.scala#L65).
##

Steps to reproduce the error:
- Create a empty module in the `std/` directory
  - Alternative: Create a module only containing comments in the `std/` di

[2016-08-20 13:02] rexim opened #124 "Checklist PR template"
Make a [PR template](https://github.com/blog/2111-issue-and-pull-request-templates) that contains the following entries:
- [x] Update docs
- [x] Add/Update Unit Tests

Derived from https://github.com/rexim/Morganey/pull/122

I always see that this two points are always the case in most of the PRs. Let's make them a template! Maybe in the future this list will extended. For example, after #55.

htt

[2016-08-20 13:07] rexim commented on #123
Full stacktrace:

[code]

[2016-08-20 13:08] rexim commented on #123
lol, let me take this one. This is such a stupid mistake from my side! Thanks for filing a ticket for it! :)

[2016-08-20 16:41] #123 closed, assigned to rexim

[2016-08-20 17:40] rexim opened #126 "Enclose chars in single quotes and strings in double quotes"
Derived from https://github.com/rexim/Morganey/pull/122#issuecomment-241213221

For that enclose chars in single quotes and strings in double quotes here: https://github.com/rexim/Morganey/blob/e7b8dcd39e6f38ef5b97d407af188edf9aac29af/src/main/scala/me/rexim/morganey/ReplHelper.scala

[2016-08-20 17:42] rexim commented on #126
Not easily, but with minimum effort.

[2016-08-21 09:55] keddelzz opened #127 "Unexpected behavior in unquotation macro"
Unquotation of pattern with single variable doesn't behave as expected.

Steps to reproduce the result:
- `sbt console`
- `import me.rexim.morganey.meta._`
- `val m"\\$a.b" = m"\\c.b"`

expected behavior:

[code]

observed behavoir:

[code]

Description:
If only one variable is used in the unquotation-pattern it matches the whole ast instead of the valid subtree.

[2016-08-21 13:46] rexim commented on #109
https://github.com/rexim/Morganey/blob/e7b8dcd39e6f38ef5b97d407af188edf9aac29af/kernel/src/main/scala/me/rexim/morganey/ast/LambdaTerm.scala#L12

I just realized that this filtering of unused bindings screws up the transitive bindings!!1

[2016-08-21 13:47] rexim opened #128 "Term shorter syntax pretty-printer"
Derived from https://github.com/rexim/Morganey/pull/122#issuecomment-241213221

[2016-08-21 13:47] rexim opened #129 "Port std-lib to shorter syntax"
Derived from https://github.com/rexim/Morganey/pull/122#issuecomment-241257019

[2016-08-21 13:50] keddelzz commented on #128
Is this not equivalent with #126? Both require a new implementation of the pretty-printer for lambda terms.

[2016-08-21 13:57] rexim commented on #128
The scope of #126 is actually really small:

Because right now they are not enclosed with quotes and I cannot copy-paste them back to the input without any editing. It has nothing to do with the term pretty printer. :)

But the scope of this one is actually implementing the term shorter syntax pretty printer. Maybe a title is a bit confusing. Let me change it.

[2016-08-21 13:58] rexim commented on #126
Made the title more specific

[2016-08-21 15:15] #67 closed, assigned to keddelzz

[2016-08-21 15:25] #115 closed, assigned to rexim

[2016-08-21 16:16] rexim opened #131 "TermOutputHelper is completely disconnected from the LambdaParser"

[2016-08-21 17:26] #126 closed, assigned to rexim

[2016-08-22 13:04] rexim opened #133 "LambdaInput is not empty list aware"
https://github.com/rexim/Morganey/blob/5275f850093c32abd981b246a7f67ba6f8f809a0/kernel/src/main/scala/me/rexim/morganey/ast/LambdaTerm.scala#L75

Completely forgot about this one. I should've refer to this line in #62. Gonna fix it ASAP and cover with UTs

[2016-08-22 13:11] rexim commented on #133
Hm... LambdaInput already [have UTs](https://github.com/rexim/Morganey/blob/5275f850093c32abd981b246a7f67ba6f8f809a0/src/test/scala/me/rexim/morganey/LambdaInputSpecs.scala). Such things should be tested with functional tests #55

[2016-08-22 14:08] rexim commented on #131
This comment might be related to this issue: https://github.com/rexim/Morganey/pull/132#issuecomment-241267003

[2016-08-22 14:11] rexim opened #134 "Reuse sbt caches on Travis CI"
http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html#%28Experimental%29+Reusing+Ivy+cache

[2016-08-22 14:17] ForNeVeR commented on #134
Note that we're caching `~/.ivy2` on Appveyor. Probably that's the right location to cache on Travis, too.

[2016-08-22 14:44] #133 closed, assigned to rexim

[2016-08-22 15:34] rexim commented on #109
Ok, I think the problem is understood more or less well. We simply don't filter bindings in advance and toplogically sort them before wrapping over an expression. In the scope of this issue I already fixed the filtering problem. For topsort I'll create a separete ticket.

[2016-08-22 15:34] rexim opened #136 "Top sort bindings before wrapping them over an expression"
Extracted from https://github.com/rexim/Morganey/issues/109#issuecomment-241452378

[2016-08-22 15:43] #109 closed, assigned to rexim

[2016-08-22 16:54] rexim opened #138 "Redefining bindings in REPL"
### Pieces
- [ ] #197 Inform the user if the binding was redefined

---

Something similar to #112. Maybe they can be even merged. I see this like that:

[code]

[2016-08-23 04:36] #116 closed, assigned to keddelzz

[2016-08-24 14:29] keddelzz opened #142 "Introduce command in repl that clears defined or loaded bindings"
Currently I have to restart the REPL to achieve the same effect. Restarting the REPL-session could be prevented by such command.

[2016-08-24 14:35] rexim commented on #142
I think we experienced the same thing #138 :) But your issue suggest a different thing which can coexist with #138. Thanks for filing it!

[2016-08-24 15:00] #127 closed, assigned to keddelzz

[2016-08-25 06:03] rexim opened #143 "Shorter syntax usability problem"
After using the shorter syntax for a while I found a problem that was not visible during the design time. This problem comes from the fact that we use the same character for separating function arguments and its body and function arguments from each other. For example,

[code]

Maybe it's just me I dunno, but sometimes I simply forget that last dot and it completly changes the entire meaning of my

[2016-08-25 06:03] rexim commented on #143
But overall I like the new syntax. It really helps with constructing complex terms. :)

[2016-08-25 09:21] keddelzz commented on #143
I'm not sure if I like the proposed notation `\x,y. x`. The `,` seems more similar to a parameter separator of a c like programming language, but the current notation is more common for lambda-calculus. (See: [Wikipedia - Lambda calculus - Notation](https://en.wikipedia.org/wiki/Lambda_calculus#Notation))

Maybe it helps to think "a dot after each parameter" instead of "a dot separates parameters

[2016-08-25 09:28] rexim commented on #143
Ok, let me use it for more time and I'll get back to this discussion with the feedback later. Maybe it's really just me.

[2016-08-25 09:46] rexim commented on #143
A few more comments from my side

It's not about comma, it's about using a different symbol for a different purpose. Just want to be clear on that. We can still use dot, but the last dot replace with arrow `\x.y -> x`. It doesn't matter.

Notation on the wiki page has fundamentally different property which I actually like:

[code]

You just can't write it incorrectly.

And again, I'm gonna use the

[2016-08-26 12:16] rexim opened #145 "Syntax sugar for pairs"
Derived from https://github.com/rexim/Morganey/pull/144#r76408716
### Scope
- [x] #224 Syntax support for pairs
- [x] #225 Pair smart detection

[2016-08-26 17:05] rexim commented on #59
Keep in mind this comment https://github.com/rexim/Morganey/pull/144#issuecomment-242786169 while working on this issue

[2016-08-27 18:52] #128 closed, assigned to keddelzz

[2016-08-28 15:13] rexim opened #147 "Shorter file extension"
`.morganey` is actually pretty long extension and I got pointed that out several times on the stream. Maybe we need a shorter one.

**Suggest and vote with comment**

[2016-08-28 15:13] ghost commented on #147
Cool

[2016-08-28 15:13] ghost commented on #147
- `.my`

[2016-08-28 15:14] ghost commented on #147
- `.mrg`

[2016-08-28 15:21] ForNeVeR commented on #147
`.mgn` :+1:

[2016-08-28 15:28] keddelzz commented on #147
Another suggestion: `mgy`
(But I don't vote for that)
But I don't really care what Morganeys real file-extension will be in the future, just not longer as 4 letters is my only wish :)

[2016-08-28 15:33] keddelzz opened #149 "Introduce repl-command that removes a single binding from context."
Similar to #142, but only remove a single binding.
Syntax, for example: `reset <binding>`

[2016-08-28 15:39] rexim opened #150 "Cannot exit repl by ^C"
### Steps to reproduce
- Start repl with `sbt run`
- Press `^C`
### Observed

Nothing happned
### Expected

Exit from REPL

[2016-08-28 15:42] ForNeVeR commented on #150
Note that, for example, node.js requires you to press Ctrl-C twice in a row, because single Ctrl-C will abort the currently executing clause I think.

[2016-08-28 15:56] rexim opened #151 "Add script section to README"

[2016-08-28 15:58] rexim opened #152 "Add Execution section to README"

[2016-08-28 16:05] rexim commented on #147
`.mrgny`

[2016-08-28 16:05] rexim commented on #147
`.mogny`

[2016-08-28 16:05] rexim commented on #147
`.moy`

[2016-08-28 16:45] #129 closed, assigned to rexim

[2016-08-28 17:29] keddelzz opened #154 "Automatically import `meta` in Scala REPL"

[2016-08-28 17:59] #154 closed, assigned to keddelzz

[2016-08-28 18:20] keddelzz opened #157 "Add REPL command that lets you print the raw term (without term detection)"
`raw <term>` could print Morganeys representation without auto detection of numbers, characters and lists.

[code]

could print

[code]

instead of

[code]
##

The exact name of this command is also up for debate.

[2016-08-29 06:24] ghost commented on #95
change font tu lucida console

[2016-08-29 06:39] #142 closed, assigned to rexim

[2016-08-29 06:49] rexim commented on #157
I approve this proposal. Maybe in the future we will have more of such commands. For example `number 'a'` to show the number representation of the character. :) But this is already a different scope.

[2016-08-29 09:58] keddelzz opened #159 "Common interface for REPL commands"
Since more and more commands are added to Morganey, I want you to ask how the interface should work look like and how commands will interact with the REPL. Currently the behavior of the commands is implemented [in file `Main.scala`](https://github.com/rexim/Morganey/blob/master/src/main/scala/me/rexim/morganey/Main.scala#L76). Because more commands will be added in the future this list will grow.

[2016-08-29 10:14] ForNeVeR commented on #159
I could only recommend you to keep in mind that one day in future we'll want to call the commands through API (for editor or server integration). So, well, probably it's not the most future-proof way to add them to some block in `Main.scala`.

[2016-08-29 14:04] ForNeVeR commented on #95
I am using unicode font (not Lucida Console, but [Liberatior Mono Powerline](https://github.com/powerline/fonts/tree/master/LiberationMono)) and I can see the `λ` character in my terminal without problems. It's definitely Morganey (or maybe JVM) fault. Investigating right now.

[2016-08-29 14:12] ForNeVeR commented on #95
Here's the proof:
![image](https://cloud.githubusercontent.com/assets/92793/18054259/4b3833d4-6e2d-11e6-84d3-a6d97b188778.png)

[2016-08-29 14:41] ForNeVeR commented on #95
Well, it seems that it's a fundamental problem of HotSpot implementation on Windows. No matter what (`-Dfile.encoding=UTF-8` or creating various kinds of UTF-8 output streams) it will use the **wrong**, single byte API on Windows (when it should really use text API aka `WriteConsoleW`). We could cast some magicks involving UTF-8, `chcp` etc, but I'm not so interested in that. Too trivial and too e

[2016-08-29 16:28] rexim commented on #159
I dunno how it's gonna evolve. Let's keep adding commands and see. I'm ok with extracting commands into a map.

[2016-08-30 07:13] ghost commented on #95
I found this interesting thing we should try it: http://stackoverflow.com/questions/5965195/utf-8-cjk-characters-not-displaying-in-java. First answer

[2016-08-30 08:18] ForNeVeR commented on #95
It _sort of_ works if I use UTF-8 and `chcp 65001`. I've added the following into the main method:

[code]

And I got the following:

![image](https://cloud.githubusercontent.com/assets/92793/18081420/51b5219e-6ec4-11e6-9bc1-c515c8afd3c2.png)

No idea why is it printing `λλλ�λ�` instead of `λλλ`; without `chcp 65001` it outputs the following: `╬╗╬╗╬╗`. And I cannot enter Cyrillic characters in thi

[2016-08-30 12:54] #83 closed, assigned to keddelzz

[2016-08-31 08:56] #157 closed, assigned to keddelzz

[2016-08-31 14:39] #87 closed, assigned to keddelzz

[2016-09-02 04:47] ghost commented on #147
`* .mog`

[2016-09-02 10:41] rexim opened #164 "Rename command :reset -> :unbind"
Derived from https://github.com/rexim/Morganey/pull/163#issuecomment-244334364

[2016-09-02 10:42] rexim opened #165 "Remove argumentless version of :unbind"
Derived from https://github.com/rexim/Morganey/pull/163#issuecomment-244334364

[2016-09-02 10:42] rexim opened #166 "Use glob instead of regex in :unbind"
Derived from https://github.com/rexim/Morganey/pull/163#issuecomment-244334364

[2016-09-02 10:43] #149 closed, assigned to keddelzz

[2016-09-03 12:56] ForNeVeR commented on #107
Here's the workflow I've "invented" for [Jabber-Net](https://github.com/ForNeVeR/Jabber-Net):
- Place markdown doc sources and templates for doc generator into [the project docs/ directory](https://github.com/ForNeVeR/Jabber-Net/tree/803ccd840101320f2f0a63868f6c8328eea1a200/docs).
- Create [a simple script](https://github.com/ForNeVeR/Jabber-Net/blob/b502542dac4fd254532f80efc2ab8690a097d1a8/Script

[2016-09-04 09:03] rexim commented on #159
Is this question still actual? Can we close it?

[2016-09-04 12:15] rexim opened #168 "Removing bindings should the interpreter context's responsibility"

[2016-09-04 13:16] rexim opened #169 "Improve bindings lookup performance"
Derived from https://github.com/rexim/Morganey/pull/156#discussion_r77452181

Currently the bindings lookup has performance `O(N)`, but I believe it can be improved up to `O(logN)`, by using a better data structure

[2016-09-04 15:40] #136 closed, assigned to rexim

[2016-09-04 15:42] #159 closed, assigned to nobody

[2016-09-04 15:45] rexim commented on #147
Poll is closed. `.mgn` is the winner!

[2016-09-04 16:22] #147 closed, assigned to rexim

[2016-09-04 16:22] #168 closed, assigned to rexim

[2016-09-04 16:57] #164 closed, assigned to rexim

[2016-09-04 17:51] rexim opened #172 "Binding with name `x' is not evaluated properly in lists"
### Steps to reproduce
- Start the Morganey REPL
- Type the following:

[code]
### Observed

[code]
### Expected

[code]

---

Works with other names though:

[code]

[2016-09-04 18:01] rexim opened #173 "Unexpected autocompletion suggestions"
### Steps to reproduce
- Have a couple of bindings with the same prefix:

[code]
- Type the following:

[code]
- And press TAB to autocomplete
### Observed

[code]
### Expected

[code]

[2016-09-04 18:33] keddelzz opened #174 "Help command"
Add comment that prints all known commands and their descriptions.

[2016-09-04 20:43] rexim commented on #172
More interesting things from REPL

[code]

[2016-09-04 20:52] rexim commented on #172
Found the root cause: https://github.com/rexim/Morganey/blob/8f9dbbc4aa558a3cb3e59c178bfcca76aa4fea6a/kernel/src/main/scala/me/rexim/morganey/church/ChurchPairConverter.scala#L19

Free var `x` is simply captured because of direct placement into the cons-cell. We need to use the capture-free substitution instead. Assigning this task to myself.

[2016-09-04 20:55] rexim commented on #172
Just to confirm. Did the following:

[code]

observed the same behaivour with `khooy` instead.

[2016-09-05 03:16] ForNeVeR commented on #173
I am not sure if it's clear what should be the correct suggestion in this case. Probably nothing? There're no names starting with `isa` except `isa` itself, right?

[2016-09-05 05:39] rexim commented on #173
This issue was really hard to describe in a ticket. I did my best. I expect whoever's gonna work on this one to just follow the instructions and see that themselves. The misbehaviour is pretty obvious. It's like porn. You'll know it when you see it.

[2016-09-05 11:21] #165 closed, assigned to rexim

[2016-09-05 11:21] rexim opened #178 "Introduce ReplEvaluable typeclass"
Derived from https://github.com/rexim/Morganey/pull/176#issuecomment-244678473

[2016-09-05 11:32] #80 closed, assigned to rexim

[2016-09-05 12:20] #173 closed, assigned to keddelzz

[2016-09-05 12:30] rexim commented on #151
Invalide after #176. The script semantic was removed.

[2016-09-05 12:33] rexim commented on #143
@keddelzz, I think you was right. Not experiencing this problem anymore. Thanks!

[2016-09-05 12:34] #143 closed, assigned to rexim

[2016-09-05 12:47] rexim commented on #111
Ok, I accept this proposal. After #109 it is clear how to implement that properly. Where-bindings are just another edges in the binding dependency graph that we already handle properly.

But this scope of this issue is too big. I suggest to narrow it down to updating `MorganeyBinding` AST node to support the where-clauses and implementing the corresponding semantic in `MorganeyCompiler`. For the s

[2016-09-05 12:53] rexim commented on #78
We already have standard library that contains some of commonly used stuff: https://github.com/rexim/Morganey/tree/8e7ed9f3a4f21bc4e3f554a456f75cbec4fa1cc4/std

I think we can close this ticket and simply extend the existing library as it's needed.

[2016-09-05 12:53] #78 closed, assigned to nobody

[2016-09-05 12:57] rexim commented on #68
ASCII code of ~~space~~newline is 10. It simply does not fit into our definition of a printable character.

[2016-09-05 13:00] rexim commented on #68
Also, just a hint. When you browsing a file on GitHub you can press `y` and will transform your current URL into a permanent one with a commit hash. It will look like this: https://github.com/rexim/Morganey/blob/8e7ed9f3a4f21bc4e3f554a456f75cbec4fa1cc4/kernel/src/main/scala/me/rexim/morganey/church/ChurchNumberConverter.scala

It is better to use permanent URLs in issues and comments. [ReplHelper.

[2016-09-05 13:02] ForNeVeR commented on #68
You mean for newline, right? Because it's 0x20 for space.

OH MY GOD THANK YOU.

Really, I wasn't aware of this feature and was damned to make these URIs in a hard way.

[2016-09-05 13:02] rexim commented on #54
Script semantic was removed in #176

[2016-09-05 13:02] #54 closed, assigned to rexim

[2016-09-05 13:03] rexim commented on #68
Right. Thank you!

You're welcome! :)

[2016-09-05 13:06] rexim commented on #48
It's a really old issue and its scope was lost long time ago...

[2016-09-05 13:06] #48 closed, assigned to rexim

[2016-09-05 13:11] keddelzz commented on #68
`y` is not working for me. :(

[2016-09-05 13:15] rexim commented on #26
If we actually gonna do that, the runtime is gonna consist of some sort of an interpreter that reduces the program term in Normal Order. Probably something similar to STG of GHC. We need to research that.

[2016-09-05 13:16] rexim commented on #68
This is strange. Try also `?`. It shows all of the available shortcuts on the current page

[2016-09-05 13:22] keddelzz commented on #68
It's working now, thank you! Also thanks for giving a hint to such a useful feature!

[2016-09-05 13:29] keddelzz commented on #68
Should we add the escape-sequences, [the language knows about](https://github.com/rexim/Morganey/blob/8e7ed9f3a4f21bc4e3f554a456f75cbec4fa1cc4/kernel/src/main/scala/me/rexim/morganey/syntax/Language.scala#L9), to the set of printable characters?

[2016-09-05 13:33] rexim commented on #68
Yeah, I think that's the solution for this bug. :)

[2016-09-05 13:34] #151 closed, assigned to rexim

[2016-09-05 13:34] #152 closed, assigned to rexim

[2016-09-05 13:43] keddelzz commented on #68
Yes.

... but this question should really mean "Do you guys think that'a bug, or is the behavior in the description of this issue intended?"

[2016-09-05 13:51] rexim commented on #68
Ah, yeah! That's a better question!

I checked the Internets. They say ~~space~~newline is not a printable character. :( http://www.ascii-code.com/ It is so called control character.

I cannot answer this question right now. It depends on how Morganey IO will evolve in the future. I will think about that and try to answer later. Thanks for the question!

[2016-09-05 14:32] keddelzz commented on #81
I think this title is misleading now, because script semantic was removed in #176.
Should I rename it to "Emacs major mode for editing Morganey files" or Emacs major mode for editing Morganey modules"?

[2016-09-05 14:45] rexim commented on #81
Done! :)

[2016-09-09 10:26] keddelzz opened #180 "Reuse 'matches' function"
Reuse function `matches` [see here](https://github.com/rexim/Morganey/blob/0efa0da5adb768ce89bf85ff7907c560d2d85288/src/main/scala/me/rexim/morganey/ReplAutocompletion.scala#L149) in the pattern match [here](https://github.com/rexim/Morganey/blob/0efa0da5adb768ce89bf85ff7907c560d2d85288/src/main/scala/me/rexim/morganey/ReplAutocompletion.scala#L44) and [here](https://github.com/rexim/Morganey/blob

[2016-09-09 19:02] #180 closed, assigned to keddelzz

[2016-09-09 19:09] keddelzz opened #182 "Online REPL"
It would be cool to have a section in the Wiki which features an online REPL for trying out Morganey, like [Haskell](https://tryhaskell.org/) and [Clojure](http://www.tryclj.com/) have.

That could be implemented by compiling Morganey to [scala.js](https://www.scala-js.org/) and running the repl in the browser locally.

[2016-09-09 20:03] rexim commented on #182
Thanks for filing this! Good idea. I was thinking about this too some time ago.

[2016-09-09 20:08] rexim opened #183 "What's the best way to implement Online REPL?"
Extracted from #182

We have two options:
- Compile Morganey to scala.js as suggested in the description of #182
- Make Morganey an online service with REST API as it's done for [Haskell](https://tryhaskell.org/) and [Clojure](http://www.tryclj.com/)  (they really send REST queries, it's clearlly visible in the dev tools console, http://www.tryclj.com/eval.json?expr=(%2B+1+1))

We need to figure o

[2016-09-10 15:23] rexim commented on #131
I don't like this issue. It's vague and it's unclear what exactly can be done here. Closing it.

[2016-09-10 15:23] #131 closed, assigned to rexim

[2016-09-10 15:33] rexim commented on #118
It's probably better to resolve #107 first

[2016-09-10 15:42] rexim commented on #52
Since today we have [REPL commands](https://github.com/rexim/Morganey/blob/d7ddb6051df8fef02cc4e7be669f4dd024378faf/src/main/scala/me/rexim/morganey/Commands.scala) mechanism, this can be a command instead of the mark.

[2016-09-10 15:44] rexim commented on #51
Linking this issue with #59

[2016-09-10 16:02] rexim commented on #183
I have know idea why I thought that it's a good idea to separate that from #182! I was probably tired. :) Let's move this discussion back to #182. Really sorry for the inconvenience!

[2016-09-10 16:02] #183 closed, assigned to rexim

[2016-09-10 16:03] rexim commented on #182
Bringing the comment from #183

We have two options:
- Compile Morganey to scala.js as suggested in the description of #182
- Make Morganey an online service with REST API as it's done for [Haskell](https://tryhaskell.org/) and [Clojure](http://www.tryclj.com/)  (they really send REST queries, it's clearlly visible in the dev tools console, http://www.tryclj.com/eval.json?expr=(%2B+1+1))

We need

[2016-09-10 19:19] #124 closed, assigned to rexim

[2016-09-11 07:28] keddelzz commented on #182
I'm not sure which option better fits your needs.

##

My thoughts on both options:
- An implementation of an online service will introduce a very clean API (REST API), but will (of course) require a server, on which the online REPL gets deployed to.
- If scala.js is used no server is needed for the implementation, but the build duration of Morganey will increase, because cross-compilation to Java

[2016-09-11 15:27] rexim opened #186 "Avoid accidental free vars capturing"
Inspired by #172

We need to come up with some mechanism that prevent accidential free vars capturing during the term construction. To avoid bugs like #172 in the future.

[2016-09-11 15:50] rexim commented on #16
Reopening this one, because we actually need it for more stable unit tests.

[2016-09-11 16:08] keddelzz opened #187 "Improve autocompletion: partial terms"
It would be very cool, if the autocompletion also uses terms, which are partially typed in.
For example:

[code]

shows all known bindings and additionally `xs` and `f`.

[2016-09-11 16:09] keddelzz commented on #187
For this feature we might need to add positions to the AST-nodes.

[2016-09-11 16:25] rexim opened #188 "The pretty-printer doesn't handle precedence correctly"
### Steps to reproduce

[code]
### Observed

[code]
### Expected

[code]

[2016-09-11 16:38] rexim commented on #150
When I started the REPL inside of Intellij IDEA, I wasn't able to stop with the stop button. I think it may be related to this bug some how. Don't forget to check it.

[2016-09-12 07:00] ForNeVeR commented on #182
Some points on option 2:

Not necessarily. We simply shouldn't build Scala.js stuff by default because of this reason. Make a separate build target for that and that's it.

Again, not necessarily. If the malicious user wants to halt his own browser using the JavaScript we provided — well, let him to do it.

Although if we want to allow the users to share their Morganey snippets (in a way such that

[2016-09-12 07:32] rexim opened #191 "Document custom sbt commands in README"
Derived from https://github.com/rexim/Morganey/pull/185#issuecomment-246267603

[2016-09-12 14:19] keddelzz commented on #188
Instead of `\x.x (\f.x.x \f.x.x)` `[0]` should really be rendered as `\x.x (\f.x.x) (\f.x.x)`. And instead of `\x.x \f.x.x \f.x.x` the pretty-printer should show `\x.x (\f.x.x (\f.x.x))`.

[2016-09-13 06:59] #188 closed, assigned to keddelzz

[2016-09-14 17:36] rexim opened #195 "Weird alpha-conversion in pair encoding"
Reproducible only after the merge of #189

[code]

We need to investigate if that's a bug or not. I'd rather expect something like

[code]

[2016-09-14 18:08] rexim commented on #195
Something related to the capture free substitution. The resulting code is valid. But such behaviour may lead to a potential var name growth which may negatively affect the performance of the language.

[2016-09-15 11:29] keddelzz commented on #95
As long this issue is not resolved I propose implementing a workaround, which prints `\` instead of `λ` (on windows only). This makes the result of an evaluation copy-pasteable as the input of another evaluation.

[2016-09-15 11:34] rexim commented on #95
Yeah, right now the Morganey REPL on Windows looks like a Prolog prompt :D

[2016-09-15 11:34] rexim commented on #95
@ForNeVeR I know how you like Prolog! ;)

[2016-09-15 12:11] keddelzz opened #196 "Unicode in Windows workaround"
Opening a new issue which repeats the workaround proposed in [95-comment](https://github.com/rexim/Morganey/issues/95#issuecomment-247303317).

Bringing all information here:

[2016-09-15 12:30] rexim commented on #196
Accepted! Thanks!

[2016-09-15 16:33] keddelzz commented on #182
@kuchenkruste and I started implementing a online REPL with a REST-API. A short preview of all currently implemented features can be seen on YouTube [(see here)](https://www.youtube.com/watch?v=obYWL3QmVLA).

[2016-09-15 19:19] #172 closed, assigned to rexim

[2016-09-16 03:18] ForNeVeR commented on #182
Wow! Very good job, buys!

[2016-09-16 18:38] rexim opened #197 "Inform the user if the binding was redefined"
~Blocked by #198~
Split from #138

Separate bindings evaluation from MorganeyRepl.evalNode. Discriminate bindings from the rest of the nodes and inform the user if the binding was redefined

[code]

[2016-09-16 18:47] rexim opened #198 "Binding redefinition mechanism for REPL context"
Blocks #197, #112
[TODO(#198)](https://github.com/morganey-lang/Morganey/search?utf8=%E2%9C%93&q=%22TODO%28%23198%29%22&type=)

[2016-09-16 19:56] keddelzz commented on #196
This might not be a good idea after all: Six unit-tests have to be rewritten in order to succeed, if this workaround gets implemented!

##

Should we implement this workaround, nevertheless?

[2016-09-16 20:21] rexim commented on #196
@keddelzz Yeah, I see what you mean. The situation is even more complicated than I thought... I'm falling asleep at the moment so I cannot say anything adequate right now. I'll think about that tomorrow and then answer here. Let's postpone the workaround until then. Thanks!

[2016-09-17 03:43] ForNeVeR commented on #196
I propose to define the tests in question as platform-specific using [tagging](http://www.scalatest.org/user_guide/tagging_your_tests).

[2016-09-17 08:56] keddelzz opened #199 "Morganey API"
To be able to use Morganey in the implementation of the online REPL a few refactorings should be done in order to achieve a cleaner Morganey API.
##

Proposed refactorings:
- Decouple autocompletion from terminal-REPL (jLine). This could be done by transforming the [`ReplAutocompletion`](https://github.com/rexim/Morganey/blob/db15b3b438ce722167a882a4cecdbfab7162d5de/src/main/scala/me/rexim/morgane

[2016-09-17 14:33] rexim commented on #196
Alright, basically we have only two places where we have the lambda symbol hardcoded:
- [LambdaTerm.scala:94](https://github.com/rexim/Morganey/blob/db15b3b438ce722167a882a4cecdbfab7162d5de/kernel/src/main/scala/me/rexim/morganey/ast/LambdaTerm.scala#L94)
- [Main.scala:66](https://github.com/rexim/Morganey/blob/db15b3b438ce722167a882a4cecdbfab7162d5de/src/main/scala/me/rexim/morganey/Main.scala#L6

[2016-09-17 15:24] keddelzz commented on #196
Another place where the lambda symbol is hardcoded is [`Language.lambdaLetter`](https://github.com/rexim/Morganey/blob/db15b3b438ce722167a882a4cecdbfab7162d5de/kernel/src/main/scala/me/rexim/morganey/syntax/Language.scala#L25).

[2016-09-17 16:17] rexim commented on #196
Ah, yeah. Thanks for correcting me! I was looking only at lambdas that go to the output. I double checked everything just in case. Looks like we use this one only for parsing.

[2016-09-17 19:11] keddelzz commented on #182
The alpha version of the online REPL is implemented and ready for public release. The implementation heavily utilizes the changes proposed in #200, which are not merged, yet.

##

How do we proceed with this feature?
Should I create a new repository, @rexim do you want to create one or should I push the REPL as a new subproject of Morganey?

[2016-09-17 19:45] keddelzz commented on #182
You can find an updated preview on [YouTube](https://youtu.be/k-PT3tTHANs).

[2016-09-17 19:57] rexim commented on #182
I'm gonna merge it soon. Sorry for the delay.

This clearly sounds like a separate project for me. Please create a separate repo and push the project there. Then please post the link here. I'm gonna review the project and then we gonna prepare a plan on what to do next. Sounds good?

[2016-09-17 20:04] keddelzz commented on #182
I didn't want to put you under pressure :)

Ok!

[2016-09-17 20:07] #199 closed, assigned to keddelzz

[2016-09-17 20:49] rexim commented on #182
@keddelzz, ok, I saw you published the project. Thank you very much!

Just to keep it captured in the issue tracker here is the link https://github.com/keddelzz/let-morganey-rest

It's already too late on my side, so I'm going to bed. Tomorrow I'll be busy through the day until the stream. So I won't be able to take a look into the project. Could try to set it up locally right on the stream, thoug

[2016-09-18 16:06] rexim commented on #55
`echo "2 3" | sbt --error 'set showSuccess := false' run`

[2016-09-18 16:25] rexim commented on #55
http://www.scala-lang.org/api/rc2/scala/sys/process/package.html

[2016-09-18 16:44] rexim commented on #45
It can be also used for #55

[2016-09-18 18:48] keddelzz opened #201 "Extend parser to support non-literal range literals"
subtask of #120

[2016-09-18 20:57] rexim commented on #182
Alright, I already said that on the stream, but I wanna have it captured in the issue tracker. The idea is basically to create a GitHub organization that unites the Morganey related projects and its developers.

I already created the organization @morganey-lang and invited all of the interested at the moment people:
- @keddelzz
- @ForNeVeR
- @kuchenkruste
- @06needhamt

### Draft of the Rules
- An

[2016-09-18 21:04] rexim commented on #182
Here is the PR https://github.com/morganey-lang/requests/pull/1

[2016-09-19 07:30] keddelzz opened #204 "Add funtests for non-constant range-literals"
see #120
after #55

[2016-09-19 10:05] keddelzz opened #205 "Negative numbers"
To achieve higher usability, we should consider implementing negative numbers.

see [church encoding - signed numbers on Wikipedia](https://en.wikipedia.org/wiki/Church_encoding#Signed_numbers)
##

I'm not sure whether the current implementation of number related functions should be rewritten to support signed numbers or if the std-library of Morganey should be split:
- `load numbers` could provid

[2016-09-19 13:49] rexim commented on #205
I like the idea. But we need to think how to better implement it. Putting the research label for now.

[2016-09-19 15:49] BjoernLoetters opened #206 "Performance improvement: Numbers"
It would be nice to replace the church encoded numbers of morganey with real numbers, pretending that they're still functions!

In relation to #60 and #59 the term `((plus 2) 3)` would be evaluated using an underlying add-operation.

Whenever the user wants to see the "raw" lambda term (the internal data structure) the number is converted to its corresponding church encoding. So `:raw ((plus 2) 3)

[2016-09-19 15:50] keddelzz commented on #206
I'm adding the proposal label, because @kuchenkruste can't assign it.

[2016-09-19 17:45] keddelzz commented on #206
As far as I understand you're suggesting something similar to [59-comment](https://github.com/morganey-lang/Morganey/issues/59#issuecomment-229906202).

This would have the advantage that not only natural numbers, but also negative numbers, would be supported natively, which would lead to a performance gain, because calculations (on numbers) happen in scala, with no need to be detected (#60). Oper

[2016-09-20 03:39] ForNeVeR commented on #206
That's an interesting proposal. We could write an optimizer for Morganey code that will detect the patterns such as "adding two numbers 100 and 101 together" and execute them on the machine numbers instead of interpreting the `plus` function directly.

I believe this will require additional research, so I'm adding the "research" label here.

[2016-09-20 10:30] keddelzz opened #207 "Return failed computation, if command doesn't exist"
Instead of returning a successful computation, it should be returned a failed computation, if the command doesn't exist (see [here](https://github.com/morganey-lang/Morganey/blob/49e37dc9505721634058bf6adbff14338daca461/src/main/scala/me/rexim/morganey/interpreter/MorganeyRepl.scala#L19)).
##

This issue is related to [let-morganey-rest#8](https://github.com/morganey-lang/let-morganey-rest/issues/

[2016-09-20 10:50] 06needhamt opened #208 "How to run Morganey without sbt"
For my plugin i need a command from which I can run the Morganey interpreter without running sbt.

For Example
`morganey run "file.morg`

Does any such command exist in Morganey as i require something like this to implement the IDEA run configurations?

Thanks for your assistance

[2016-09-20 10:59] 06needhamt commented on #208
I tried the following but it didn't work it just exits immediately
![capture](https://cloud.githubusercontent.com/assets/4162227/18667694/95860ce2-7f29-11e6-90be-38b946e9f888.PNG)

[2016-09-20 11:12] 06needhamt commented on #208
I've fixed this issue but mow i get this stacktrace

[code]

[2016-09-20 11:13] 06needhamt commented on #208
And i'm invoking Morganey like this

![capture 2](https://cloud.githubusercontent.com/assets/4162227/18668128/9584ce02-7f2b-11e6-8686-f288af442ec4.PNG)

[2016-09-20 11:23] rexim commented on #208
The error https://github.com/morganey-lang/Morganey/issues/208#issuecomment-248271850 is a sign that the Scala runtime is not available in your environment. It's possible to build a "fat jar" of morganey that is selfcontained and includes all of the required runtime dependencies. But this fatjar build is not merged to the master at the moment. It's in this PR #203. I'll separate fatjar configurati

[2016-09-20 11:27] rexim commented on #208
Also, is it possible to access class `me.rexim.morganey.Main` from the plugin code? It's an entry point of the morganey interpreter and I believe it's present in one of the jars. Maybe it's possible to invoke `me.rexim.morganey.Main.main(Array("morganey.mgn"))` directly from the plugin? Not sure if that's the case. Just sharing my thoughts. :)

[2016-09-20 11:27] 06needhamt commented on #208
Ok i guess i am going to have to wait until that is merged before i can run Morganey from within IntelliJ. Let me know when it is merged

[2016-09-20 11:29] rexim commented on #208
Sure. It should not be difficult. I'm gonna create the PR in 1-2 hours. I'll ping you. :)

[2016-09-20 12:00] rexim commented on #208
@06needhamt Actually, it's quite simple. Add the following line

[code]

to the `<morganey>/project/plugins.sbt` (make sure that all of the lines in the file are separated by newlines). Then at the root of the project just do

[code]

and find fatjar at `<morganey>/target/scala-2.11/morganey-assembly-0.0.1-SNAPSHOT.jar`. Hope it helps. The proper configuration requires more stuff, but that's enoug

[2016-09-20 12:35] rexim opened #210 "Releases and versioning"
Derived from https://github.com/morganey-lang/Morganey/pull/209#issuecomment-248285758

Discussion and splitting assumed

[2016-09-20 16:25] 06needhamt opened #212 "Easiest way to get raw term from Morganey code"
Q: What is the easiest way to get the raw term from code. For example a function where you can pass Morganey code and it returns the raw code as proposed in https://github.com/morganey-lang/morganey-intellij-plugin/issues/6

[2016-09-20 17:39] keddelzz commented on #212
The easiest way is to call the `term`-function of the parser. You can look at [the implementation of the `:raw` command](https://github.com/morganey-lang/Morganey/blob/49e37dc9505721634058bf6adbff14338daca461/src/main/scala/me/rexim/morganey/Commands.scala#L43) for reference.

[2016-09-20 18:57] rexim commented on #212
Ah, yeah. You need to parse the string with the [LambdaTerm.term](https://github.com/morganey-lang/Morganey/blob/49e37dc9505721634058bf6adbff14338daca461/kernel/src/main/scala/me/rexim/morganey/syntax/LambdaParser.scala#L86) parser. Is this convenient enough interface for you?

[2016-09-20 18:59] 06needhamt commented on #212
Yes that should be fine I will take a look in the morning
On Tue, 20 Sep 2016 at 19:57, Alexey Kutepov notifications@github.com
wrote:

[2016-09-20 19:44] #207 closed, assigned to keddelzz

[2016-09-20 21:16] rexim commented on #206
@ForNeVeR, Well you're talking about #60. If I understand correctly, this issue is about storing native numbers in the Morganey AST directly. Which is actually completely orthogonal to #60.

@kuchenkruste, I was thinking about that too when I was only starting Morganey. But after #59 I suspended this idea for a while. And here is why. Native numbers in the Morganey AST address the following perfor

[2016-09-21 08:46] #45 closed, assigned to rexim

[2016-09-21 08:48] rexim commented on #208
@06needhamt the configuration is in the master. Please find the instructions on building uberjar at https://github.com/morganey-lang/Morganey#build-an-uberjar and close the question if everything's ok. Thanks!

[2016-09-21 08:50] keddelzz commented on #206
The difference of #59 and this issue is, that using an integer (e.g. `scala.Int`) negative numbers could also be supported natively.

##

I feel like this idea might be the right one for the future. The basic idea of this issue is to bring more high-level information (such as Numbers) into the AST. I think this goes into a similar direction as Haskell did. They've introduced a low-level language,

[2016-09-22 17:56] 06needhamt opened #214 "Morganey Hangs when running from inside intellij"

[2016-09-22 18:03] rexim commented on #214
@06needhamt please provide detailed instruction on how to reproduce that.

[2016-09-22 19:57] 06needhamt commented on #214
Sorry Forgot to add them created this in a rush
Steps To Reproduce
1. Follow The Instructions in https://github.com/morganey-lang/morganey-intellij-plugin/blob/master/CONTRIBUTING.md To Build and Launch The Plugin
2. Open The 'test' Project Located Inside The Plugin Repo In The Launched Instance Of IntelliJ
3. Launch The 'test' Project By Clicking The Run Button
4. A Morganey Console Should Open A

[2016-09-22 20:35] rexim commented on #214
@06needhamt Great! Thank you very much! I'm gonna look into that tomorrow after my work.

Also, any of the Morganey core contributers feel free to help with this incident if you want and have time. Thanks!

[2016-09-23 09:57] 06needhamt commented on #214
@rexim Forgot to mention also make sure you are using the fat-jar branch

[2016-09-23 14:20] rexim commented on #214
Alright, looking into this one.

[2016-09-23 16:04] rexim opened #215 "Morganey programs can only finish their execution on EOF"
Root cause of incident #214
### Description

Basically, Morganey programs cannot finish their execution at any moment they want. The execution is finished only when stdin is finished.
### Steps to reproduce

It's really easy to reproduce the bug on  our 15 fibonacci numbers sample [fib.mgn](https://github.com/morganey-lang/Morganey/blob/7c04f6678f4ddc39e04753b694371ac3f6e76275/docs/samples/fib.mgn

[2016-09-23 16:06] rexim commented on #214
@06needhamt your problem is caused by this bug #215. I'm gonna fix it on Sunday's stream. In the mean time I suggest to take a look at the workaround section of the bug description.

[2016-09-23 16:13] rexim commented on #214
@06needhamt, the workaround is basically to send EOF to the stdin of the Morganey.

I don't know if `Ctrl+D` on Windows send EOF to stdin, but it worth trying:
- Launch the `test` project in the intellij instance
- Focus to the console
- Press `Ctrl+D`

cc @ForNeVeR

[2016-09-23 16:14] rexim commented on #214
@06needhamt another thing, unfortunetely the fatjar doesn't contain the standard library of Morganey. So even if you run your sample successfully it will complain about non-existing prelude module. You can find the standard library at [std/](https://github.com/morganey-lang/Morganey/tree/7c04f6678f4ddc39e04753b694371ac3f6e76275/std) folder of Morganery repo. Morganey interpreter searches for `std/

[2016-09-23 16:17] rexim opened #216 "Pack std-lib with fatjar version of Morganey"
Derived from https://github.com/morganey-lang/Morganey/issues/214#issuecomment-249235662
### Pieces:
- [x] #242 Pack std folder to the fatjar
- [x] #222 Develop a mechanism for discovering Morganey modules inside of zips?

---

Should the fatjar version of Morganey contain the std-lib? If not how should we distribute the std-lib?

**Answer: yes, the fatjar should contains the std-lib**

[2016-09-23 16:27] 06needhamt commented on #214
@rexim I Tried Your Suggestion But It Still Hangs

[2016-09-23 16:38] rexim commented on #214
@06needhamt alright, maybe on Windows it's done somehow differently... Let wait for the fix of #215 then.

Btw, have you tried to run the sample outside of Intellij in a console? Does it hang there for you too?

[2016-09-23 16:40] 06needhamt commented on #214
Nope it runs properly in the console outside of IntelliJ
On Fri, 23 Sep 2016 at 17:38, Alexey Kutepov notifications@github.com
wrote:

[2016-09-23 16:41] rexim commented on #214
@06needhamt could you please show me how you run it in the console?

[2016-09-23 17:12] 06needhamt commented on #214
![untitled](https://cloud.githubusercontent.com/assets/4162227/18794827/51119fee-81b9-11e6-9a49-0a35ca911a5e.png)

[2016-09-23 22:44] 06needhamt commented on #214
Did a bit of debugging tonight and it is in fact the Intellij Console which hangs not Morganey.

The Idea Console hangs with the following error `"read Windows console input error: "` So it looks like this is in fact an IntelliJ issue not a Morganey Issue

[2016-09-23 22:48] 06needhamt commented on #214
Reported Issue To Jetbrains [here](https://youtrack.jetbrains.com/issue/IDEA-161678)

[2016-09-24 03:47] ForNeVeR commented on #216
I think it should. Morganey users expect to be able to use the standard library, whether they use fat or tiny or über JAR.

[2016-09-24 12:07] rexim commented on #216
@ForNeVeR @keddelzz cool! Converting this into an enhancement then!

[2016-09-24 19:57] rexim commented on #214
@06needhamt ah, alright! Thanks!

But #215 is still present and I'm gonna fix it tomorrow.

[2016-09-25 09:39] rexim opened #217 "Compile Morganey with scala native"
https://github.com/scala-native/scala-native

I want to research the possibilities of using that thing to improve the performance of Morganey.

[2016-09-25 15:14] keddelzz commented on #216
That might allow to reuse the module path in online REPL (related issue: [let-morganey-rest#5](https://github.com/morganey-lang/let-morganey-rest/issues/5)).

[2016-09-25 15:55] rexim opened #218 "Pack std-lib as a separate jar for tiny jars version of Morganey"
Derived from the discussion on the stream.

Just keep the std-lib in a separate jar `morganey-stdlib.jar`

[2016-09-25 15:58] keddelzz commented on #218
Just to link this:

Depending on the `morganey-stdlib.jar` probably is a better solution than using the fat-jar in [let-morganey-rest#5](https://github.com/morganey-lang/let-morganey-rest/issues/5).

[2016-09-25 16:01] keddelzz commented on #218
Just leaving my thoughts here: `ModuleFinder` might be upgraded in the scope of this issue to be able to load modules from jars (or from the java-classpath) instead of only from files.

[2016-09-25 16:14] ForNeVeR commented on #218
I think that we just need the classpath support; there's no need to manually do the lookup in the JARs. JVM is able to manage the classpath itself (and the user can tune the classpath using the standard user-level mechanisms such as sbt).

[2016-09-26 14:45] rexim commented on #59
This task is really difficult to tackle at the current state of the project. I cannot even roughly subdivide this task. Putting a research label. I need to think about this more.

[2016-09-26 14:47] #215 closed, assigned to rexim

[2016-09-26 15:07] #218 closed, assigned to keddelzz

[2016-09-26 15:09] rexim commented on #214
@06needhamt #215 is fixed. Please try the latest version of Morganey from the master.

[2016-09-26 15:17] 06needhamt commented on #214
@rexim It Still hangs as before however someone is working on the [issue](https://youtrack.jetbrains.com/issue/IDEA-161678) at JetBeains now hopefully it will be fixed soon

[2016-09-26 15:24] keddelzz opened #222 "Update 'ModuleFinder' to be able to load modules from java classpath"
Split from #216

Brining all relevant information here:

(source: [218 keddelzz' comment](https://github.com/morganey-lang/Morganey/issues/218#issuecomment-249429687))

(source: [218 ForNeVeR's comment](https://github.com/morganey-lang/Morganey/issues/218#issuecomment-249430395))
##

This issue will allow the online REPL to reuse Morganey's module path [let-morganey-rest#5](https://github.com/morg

[2016-09-26 16:12] rexim commented on #214
It maybe even Windows specific problem. For me on linux everything works well with the following environment
- NixOS 16.03
- Intellij IDEA Community 2016.2
- Morganey commit 98612d456b19bbb2d1a380cc699b1bc64e2ddd6b
- Morganey Intellij Plugin commit 74528a0f8ece3955a576fde65e95822bdce0a618

![screenshot from 2016-09-26 22-08-42](https://cloud.githubusercontent.com/assets/165283/18842176/65cb8558-84

[2016-09-26 16:17] 06needhamt commented on #214
@rexim I can confirm that it is a windows specific problem or a problem with Intellij IDEA Community 2016.3. Can you please post a screenshot of the dialog from the Morganey | About This Plugin  menu

[2016-09-26 16:29] rexim commented on #214
![screenshot from 2016-09-26 22-28-43](https://cloud.githubusercontent.com/assets/165283/18842953/0a30faea-8441-11e6-8735-bc656adc54fa.png)

[2016-09-26 16:40] rexim commented on #222
This issue can potentially supersed #85

[2016-09-26 17:49] ForNeVeR commented on #210
You need to set up a release system (well, just start numbering versions already). After that we could upload the Morganey component JARs to jcenter to use them as a dependencies in the dependent projects.

[2016-09-26 18:06] ForNeVeR commented on #214
@06needhamt, @rexim I think I've solved the riddle. That wasn't Windows or IDEA fault, that was the Morganey artifact in `morganey-intellij-plugin` repository.

The main clue is that the artifact [`morganey_2.11-0.0.1-SNAPSHOT.jar`](https://github.com/morganey-lang/morganey-intellij-plugin/blob/768bda523691534bfa721e9904cd25a2acfbea36/lib/morganey_2.11-0.0.1-SNAPSHOT.jar) is unable to execute your

[2016-09-27 03:26] ForNeVeR commented on #222
@rexim I think that it's definitely superseding #85.

[2016-09-27 10:55] rexim opened #225 "Smart detection of pairs"
Split from #145
### Description

When the pair is printed Morganey should detect it and print it according to the current syntax of the language.

[2016-09-27 11:24] #201 closed, assigned to keddelzz

[2016-09-27 13:23] rexim opened #230 "Build in master is broken"
https://travis-ci.org/morganey-lang/Morganey/builds/163082405#L261

Something's wrong again on Travis side. We already experienced something similar (cannot find the link at the moment).

@rexim try to restart the build later.

[2016-09-27 17:37] 06needhamt commented on #214
👍 Thanks @ForNeVeR Will Try that now

[2016-09-27 17:51] 06needhamt commented on #214
@ForNeVeR This fixes the issue when reading from a source file but the issue still occurrs when typing commands directly into the repl

[2016-09-27 21:44] keddelzz commented on #120
This issue was split into:
- [x] #201: Extend parser to support non-literal range literals
- [x] #202: Implement functions to construct ranges

##

Can this issue be closed, or does #204 also count as a sub-task of #120?

[2016-09-27 21:58] keddelzz commented on #222
Should the `ModuleLoader` **only** load the std-lib from zips/jars and thus replace the old implementation or do we want to add the capability to load from jars/zips?

[2016-09-27 22:01] keddelzz commented on #208
@06needhamt Please don't forget to close this issue, if the question was answered to your satisfaction.

[2016-09-28 03:27] ForNeVeR commented on #214
Oh, sorry, I haven't checked this case. Will take a look ASAP!

[2016-09-28 04:10] ForNeVeR commented on #222
@keddelzz my opinion is that we want it to _only_ load the resources from the classpath. Please note that classpath is a standard Java concept, and it may be formed from a list of directories, and either ZIP or JAR files. So, by properly setting up the classpath, Morganey user may direct Morganey to load the modules from either stdlib (or optionally disable it), any JAR or a local directory.

I be

[2016-09-28 05:01] ForNeVeR commented on #230
I've restarted the build and it was okay this time. We'll probably get better Travis experience if we cache the dependencies (e.g. `~/.ivy2`) as we already did on Appveyor.

[2016-09-28 05:01] #230 closed, assigned to rexim

[2016-09-28 08:54] 06needhamt commented on #208
@keddelzz Sorry

[2016-09-28 08:54] #208 closed, assigned to rexim

[2016-09-28 09:15] rexim commented on #230
@ForNeVeR thanks!

[2016-09-28 09:17] rexim commented on #120
@keddelzz yeah, I think #120 can be closed now. Thanks!

[2016-09-28 09:17] #120 closed, assigned to keddelzz

[2016-09-28 17:43] rexim opened #231 "Funtests Windows support"
Split from #55

The problem is if you just uncomment [appveoyr.yml:10](https://github.com/morganey-lang/Morganey/blob/38defbbbb79aacb0f482967e3894acb2c46279f8/appveyor.yml#L10) the funtests hang on Appveyor

[2016-09-28 17:46] rexim opened #232 "REPL funtests support"
Split from #55
Keep this in mind https://github.com/morganey-lang/Morganey/pull/203#issuecomment-249859009

The problem is jline makes it difficult to simply assert the output of the program, because it performs some actions on the tty level.

[2016-09-29 08:29] rexim commented on #232
Could be useful https://github.com/traff/pty4j

[2016-09-30 10:01] keddelzz opened #233 "Use hidden-args"
Use [hidden-args](https://github.com/keddelzz/hidden-args) to remove boilerplate of functions with an nested tail-recursive helper-function. To be able to use [hidden-args](https://github.com/keddelzz/hidden-args), two new dependencies have to be added to Morganey:
- [hidden-args](https://github.com/keddelzz/hidden-args) itself
- The compiler plugin [macroparadise](https://github.com/scalamacros/p

[2016-09-30 10:12] keddelzz commented on #233
Potential usage of [hidden-args](https://github.com/keddelzz/hidden-args):
- [here](https://github.com/morganey-lang/Morganey/blob/26ec2a2348a9bb5a2f9d28b439dccd86a732039f/kernel/src/main/scala/me/rexim/morganey/ast/LambdaTerm.scala#L81)
- [here](https://github.com/morganey-lang/Morganey/blob/26ec2a2348a9bb5a2f9d28b439dccd86a732039f/kernel/src/main/scala/me/rexim/morganey/ast/LambdaTerm.scala#L108

[2016-09-30 10:20] rexim commented on #233
I like the idea, but I don't know too much about macros in scala. Could you please tell me more about the status of that macroparadise thingy? Is that an official thing? It looks like a separate plugin. What's the difference between macroparadise and regular scala macros?

Sorry for stupid questions. The google results are confusing. :)

[2016-09-30 10:22] ForNeVeR commented on #233
I thought macroparadise is only for scala 2.10. Since 2.11 we have native macros that do the same thing. So, yeah, I'd like @keddelzz to elaborate. It seems to be interesting.

[2016-09-30 10:26] keddelzz commented on #233
Macroparadise implemented macros and quasiquotes for scala-version <= 2.10.x.
Scala versions 2.11.x don't require macroparadise for macros and quasiquotes, because it was merged into the "native" scala compiler. However for macro annotations macroparadise is still needed. Macro annotations as well as macros themselves are still experimental features.

[2016-09-30 10:39] ForNeVeR commented on #233
@rexim let's say it's non-official thing that uses the official compiler plugin API. So it's perfectly legal in every sense ,)

[2016-09-30 10:40] keddelzz commented on #233
I don't know, what is planned for the upcoming scala 2.12.x release. Let's hope that macro annotations are still available :)

[2016-09-30 10:46] rexim commented on #233
Alright, sounds good to me. Morganey was always about experimentation. :) I accept this proposal.

@keddelzz feel free to assign the issue to yourself if you wanna work on it.

Thanks!

[2016-09-30 10:49] keddelzz commented on #233
Do you mind, if I depend on the github repository of [hidden-args](https://github.com/keddelzz/hidden-args) instead of using `publishLocal`?

[2016-09-30 10:49] ForNeVeR commented on #233
@keddelzz it's even better to depend on GitHub. Although the best option is to publish your (excellent) work to some Maven repository such as JCenter.

For now I vote for GitHub reference.

[2016-09-30 10:52] rexim commented on #233
Yeah, GitHub dependency is fine. :)

[2016-09-30 10:58] keddelzz commented on #233
Thank you very much @ForNeVeR for your compliment. :)

[2016-09-30 15:52] 06needhamt commented on #214
@ForNeVeR Did you get a chance to take a look at this?

[2016-09-30 16:03] ForNeVeR commented on #214
Sorry, wasn't a possibility for me these days. Will try to take a look at the weekend, i.e. tomorrow.

[2016-09-30 16:04] 06needhamt commented on #214
@ForNeVeR Ok no problem

[2016-09-30 21:02] 06needhamt commented on #212
This works fine i will close the issue now

[2016-09-30 21:02] #212 closed, assigned to nobody

[2016-10-01 13:49] ForNeVeR commented on #214
Yep, I was able to reproduce the issue.

And it may actually be a Morganey bug. When being executed through IDEA, it constantly eats my CPU. Probably something's weird if the process output got redirected in Windows environment, I wouldn't be surprised. Will investigate further.

[2016-10-01 13:53] ForNeVeR commented on #214
And it may actually be a Morganey bug. When being executed through IDEA, it constantly eats my CPU. Probably something's weird if the process output got redirected in Windows environment, I wouldn't be surprised. Will investigate further.

[2016-10-01 14:14] ForNeVeR commented on #214
Was able to reproduce with `cmd.exe` (as the lowest replacement for a Windows shell). Call this inside of a Morganey repository:

[code]

I think that it should exit immediately after the start, but it just keeping showing me a `?>` prompt and not accepting any input at all. Something strange definitely's happening in Morganey itself.

[2016-10-01 14:17] rexim commented on #214
@ForNeVeR lemme quickly try that on Linups

[2016-10-01 14:20] rexim commented on #214
[code]

Exited clearly on my machine.

[2016-10-01 14:21] rexim commented on #214
Can be something with JLine.

[2016-10-01 14:22] rexim commented on #214
@ForNeVeR can we split that into a separate bug?

[2016-10-01 14:24] ForNeVeR opened #234 "Morganey hangs when input is redirected on Windows"
_(Extracted from #214.)_

This completely hangs on my machine (Windows 10 x64) when ran from `cmd.exe` shell:

[code]

I think that it should exit immediately after the start, but it just keeping showing me a `?>` prompt and not accepting any input at all. It eats 100% of one CPU core while doing that.

@rexim claims the same works okay on Linux.

[2016-10-01 14:26] rexim commented on #234
Can be related to #231

[2016-10-01 16:16] #214 closed, assigned to ForNeVeR

[2016-10-01 16:16] #234 closed, assigned to ForNeVeR

[2016-10-01 16:17] rexim commented on #214
@06needhamt #234 has been fixed. Please try the latest version of Morganey.

[2016-10-02 09:21] #233 closed, assigned to keddelzz

[2016-10-02 12:43] 06needhamt opened #237 "Maven Repository For Morganey"
With the addition of the new build system for the [IntelliJ plugin](https://github.com/morganey-lang/morganey-intellij-plugin/pull/14). a maven repository where versions of morganey JARs can be hosted would be very useful. At the moment there is a [jars](https://github.com/morganey-lang/morganey-intellij-plugin/tree/new-build/jars) Directory where jars can be placed to be accessible by the Gradle

[2016-10-02 12:45] ForNeVeR commented on #237
Note that we already have the issue to track JAR deployment: #210.

[2016-10-02 12:45] rexim commented on #237
This issue is a subscope of #210. So I think it's good to have it.

[2016-10-02 14:00] ForNeVeR opened #238 "Gradle Morganey plugin"
We'll probably want to create a plugin for a build system (I propose Gradle, but feel free to look at Lein or SBT) that will package the `*.mgn` files in a standard Morganey format (be it `*.jar` or `*.class` or whatever). That'll help to standartize and improve the user experience of the poor guys who chose to program in Morganey.

[2016-10-02 14:10] rexim commented on #238
I accept that! Nice idea!

[2016-10-02 14:10] rexim commented on #238
Could be a separate project btw

[2016-10-02 14:21] 06needhamt commented on #238
I would like to help out on this if we end up doing it

[2016-10-02 14:33] rexim commented on #238
I created a repo for the Morganey gradle plugin https://github.com/morganey-lang/gradle-morganey-plugin

We can start the initial discussion there.

[2016-10-02 16:15] rexim commented on #210
We can follow that scheme http://semver.org/

[2016-10-02 16:44] rexim opened #240 "Name fatjar properly"
Right now the generated fatjar is called just `morganey.jar`. It was done to make it easier to refer to that jar in [funtests](https://github.com/morganey-lang/Morganey/blob/d355a4e573d2a7aa8444834f2cc59cb5177792e8/funtests/src/test/scala/me/rexim/morganey/funtests/MorganeyProcess.scala#L7). Changing the version of Morganey changes the filename, which makes funtests incompilable.

We need to fix t

[2016-10-02 16:45] keddelzz commented on #240
https://github.com/sbt/sbt-buildinfo might help with that.

[2016-10-02 16:47] rexim commented on #210
I think the scope of this issue is exhausted: we have our [first release](https://github.com/morganey-lang/Morganey/releases/tag/0.0.1), we gonna follow http://semver.org/ scheme and the maven publishing is going to be resolved in the scope of #237

[2016-10-02 16:47] #210 closed, assigned to rexim

[2016-10-03 02:54] ForNeVeR commented on #240
See also [`Build.scala`](https://github.com/codingteam/horta-hell/blob/43efcfd14cc54ed06f8b5d817fdaac4efade4e61/project/Build.scala#L31-L47) and [`VersionPlugin.scala`](https://github.com/codingteam/horta-hell/blob/43efcfd14cc54ed06f8b5d817fdaac4efade4e61/src/main/scala/ru/org/codingteam/horta/plugins/VersionPlugin.scala#L22-L24) to check how we make the project version accessible to Scala code in

[2016-10-03 08:14] #225 closed, assigned to rexim

[2016-10-03 08:14] #145 closed, assigned to nobody

[2016-10-03 08:37] rexim commented on #237
Just a useful link https://maven.apache.org/guides/mini/guide-central-repository-upload.html

[2016-10-03 09:19] ForNeVeR commented on #237
I still recommend to use JCenter. Maven Central involves too much bureaucracy.

[2016-10-03 13:58] keddelzz opened #242 "Create proper sub-project for 'std'"
Split from #216

Currently Morganey's std-lib exists in a subfolder of Morganey. This folder is manually zipped to produce the tiny-jar. This was implemented by me in the scope of #218.

However I propose to change that: Instead of manually zipping the contents of the folder it would be a better solution to turn the std-folder in a sub-project. That would have the advantage, that the `build.sbt` f

[2016-10-03 14:18] rexim commented on #242
Sounds great! Approved! :)

[2016-10-03 16:05] 06needhamt opened #244 "Release version 0.0.2 with changes from #243 as they will make plugin development much easier"

[2016-10-03 16:20] rexim commented on #244
1. It's up to the Project Leader to decide how to number the next stable version . Since we follow http://semver.org/ the next version won't be called 0.0.2 if it's gonna include #242.
2. Please don't put issue numbers in the title of the issue. They are not clickable and and not automatically linked.
3. Please don't create issue for including particular features to the next stable release. It clu

[2016-10-03 16:20] #244 closed, assigned to rexim

[2016-10-03 16:21] 06needhamt commented on #244
Ok no problem

[2016-10-04 11:03] rexim commented on #47
Duplicate of #237

[2016-10-04 11:03] #47 closed, assigned to rexim

[2016-10-04 11:15] rexim opened #245 "Define the public API"
Derived from http://semver.org/#spec-item-5
### Keep in mind
- https://github.com/morganey-lang/Morganey/issues/247#issuecomment-252217104
- ...

[2016-10-04 11:18] rexim commented on #244
@06needhamt please refer to https://github.com/morganey-lang/Morganey/milestone/1 for the next release. If you want any issues to be included there simply tell me that in the issues themselves and I'll include them to the milestone. :)

[2016-10-04 11:20] #242 closed, assigned to keddelzz

[2016-10-04 11:52] rexim commented on #237
This issue is needed for https://github.com/codingteam/horta-hell/issues/364

[2016-10-04 12:10] rexim commented on #237
May be useful https://github.com/softprops/bintray-sbt

[2016-10-04 12:10] rexim commented on #237
Just moving everything from #47 %)

[2016-10-05 18:32] 06needhamt opened #246 "Autocompletion and syntax highlighting in Intellij IDEA"
In order for me to implement auto-completion and syntax highlighting i require a JFlex grammar file for Morganey as detailed [here](http://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support/implementing_lexer.html). I see you already have a BNF definition for Morganey in README, so i tried to use [this](http://bnfc.digitalgrammars.com/) tool with these command line options

[2016-10-07 08:52] rexim opened #247 "Autocompletion server for editors and IDEs"
Derived from https://github.com/morganey-lang/morganey-vscode-extension/issues/1#issuecomment-252034881

[2016-10-07 10:25] 06needhamt commented on #247
Started developing prototype at https://github.com/06needhamt/morganey-integration-server

[2016-10-07 10:26] rexim commented on #247
I'm really glad for you, but how is that related to this not yet approved proposal?

[2016-10-07 10:34] 06needhamt commented on #247
@rexim It may be useful when we come to develop the actual server if this proposal gets approved

[2016-10-07 10:34] rexim commented on #247
@06needhamt cool

[2016-10-07 10:43] rexim commented on #247
@keddelzz it feels like `let-morganey-rest` is already the autocompletion server for morganey in some sense. :D Maybe it's just a matter of generalizing it. We need to research that.

[2016-10-07 10:47] 06needhamt commented on #247
@rexim @keddelzz My sever should also have the functionality to call Morganey APIs is Typescript as mentioned [here](https://github.com/morganey-lang/morganey-vscode-extension/issues/1#issuecomment-252156244) does `let-morganey-rest` also have this functionality

[2016-10-07 10:49] rexim commented on #247
What do you mean by "Morganey API"? Morganey API is not even defined yet #245. What do you want to call? Actual JVM methods?

[2016-10-07 10:50] rexim commented on #247
Autocompletion server should provide sufficient functionality without mentioning underlying JVM methods in any way.

[2016-10-07 10:52] 06needhamt commented on #247
@rexim Yes sorry i mean methods within Morganey such as [this](https://github.com/morganey-lang/morganey-intellij-plugin/blob/master/scala/src/main/scala/me/rexim/morganey/plugin/scala/ParseTerm.scala) So I can implement features such as raw term display in my vscode extension

[2016-10-07 10:57] rexim commented on #247
@06needhamt `LambdaParser` class should **NEVER** be exposed directly in any APIs for interaction with Morganey (even though it's used outside of Morganey in some places, but this is because Morganey is still unstable). Such things should be implemented as for instance a REST call `/raw` which receives a term and returns a raw representation. And if I understand correctly `let-morganey-rest` can a

[2016-10-07 11:04] rexim commented on #247
@06needhamt It's cool that you started prototyping something. But it doesn't look like a great idea doing that without discussing anything with other people involved into Morganey development. I mean I'm really glad that you're doing something. But if you don't discussing anything with anyone, everyone will do the same with you. And at the end, please don't be surprised if nobody needs your protot

[2016-10-07 11:59] keddelzz commented on #247
`let-morganey-rest` implements REST calls for
- autocompletion
- evaluating a term
- conversion from any term to a raw term

So, @rexim you are totally right!

[2016-10-07 12:05] rexim commented on #247
@keddelzz cool! Thank you very much! Are you ok with starting to move `let-morganey-rest` to a more general thing? So it can be used not only for Web REPL, but also for integration with editors and IDEs.

[2016-10-07 12:21] keddelzz commented on #247
I have absolutely no problem with that.

[2016-10-07 12:24] rexim commented on #247
@keddelzz great! I'm gonna take a look at how `let-morganey-rest` can be reused in other places and will make proposal to your project if something is needed. Thanks!

[2016-10-07 13:47] 06needhamt commented on #247
@rexim @keddelzz Keep me posted for updates

[2016-10-07 14:03] rexim commented on #247
@06needhamt sure! I'm gonna keep the progress captured in this issue. :)

[2016-10-08 05:21] rexim commented on #246
Could you please attach the log of the tool including the error message?

[2016-10-08 10:09] 06needhamt commented on #246
This is the only output i get

[code]

[2016-10-08 10:32] rexim commented on #246
@06needhamt please attach the `bnfc.log` and `test.bnf` files.

[2016-10-08 10:46] 06needhamt commented on #246
I had to put txt on them so GitHub
[bnfc.log.txt](https://github.com/morganey-lang/Morganey/files/517612/bnfc.log.txt)
[test.bnf.txt](https://github.com/morganey-lang/Morganey/files/517613/test.bnf.txt)

 would let me upload

[2016-10-08 10:47] ForNeVeR commented on #246
@06needhamt better use [Gist](https://gist.github.com/) next time!

[2016-10-08 10:48] 06needhamt commented on #246
@ForNeVeR ah i forgot about gists i will make one now

[2016-10-08 10:49] 06needhamt commented on #246
@rexim See https://gist.github.com/06needhamt/7e1fa550d39958c689ca9092bf281573

[2016-10-08 10:50] ForNeVeR commented on #246
@06needhamt and your `bnfc.log` looks suspicious — as if you taken your command line input and not the log file itself.

_(I'm still downloading bnfc to verify)_

[2016-10-08 10:51] 06needhamt commented on #246
@ForNeVeR that's all the log is the routed command line output

[2016-10-08 11:31] ForNeVeR commented on #246
In my case `bnfc.log` is empty. `bnfc: user error (syntax error at line 1 due to lexer error)` is really the only output.

[2016-10-08 12:10] rexim commented on #246
First of all, the BNF in the README is not a correct BNF. It was created just for the user's information. The first step is gonna be making the BNF in the README a correct BNF specification of the language syntax.

[2016-10-08 12:11] rexim opened #248 "Make BNF in the README correct so it can be successfully converted by bnfc utility"
Split from https://github.com/morganey-lang/Morganey/issues/246#issuecomment-252421294

The bnfc utility: http://bnfc.digitalgrammars.com/

[2016-10-08 12:11] rexim commented on #246
The issue has been split.

### Pieces
- [x] #248 Make BNF in the README correct so it can be successfully converted by bnfc utility
- [x] #251 Flex grammar for Morganey syntax

[2016-10-08 12:24] rexim commented on #238
Since we have a separate project for that and the initial requirements are met, I'm closing this issue.

[2016-10-08 12:25] #238 closed, assigned to nobody

[2016-10-08 12:26] rexim commented on #182
Since we have a separate project for that I'm closing this issue.

[2016-10-08 12:26] #182 closed, assigned to nobody

[2016-10-08 12:30] rexim commented on #113
Moving this issue to the `community` project: https://github.com/morganey-lang/community/issues/21 I believe it should a part of dev process guidelines.

[2016-10-08 12:30] #113 closed, assigned to rexim

[2016-10-08 12:42] rexim commented on #85
Superseded by #222

[2016-10-08 12:42] #85 closed, assigned to nobody

[2016-10-08 12:47] rexim commented on #150
Another reason for double ^C is  #53

[2016-10-09 10:35] rexim opened #249 "Add small language examples to the README"
Just to show the gist of the language for the reader.

[2016-10-09 14:17] rexim opened #250 "Use hidden-args for ChurchPairConverter.decodeList"
- [ChurchPairConverter.scala#L38](https://github.com/morganey-lang/Morganey/blob/8763c7e8c7248b8df6ceba1526f50be304d189f9/kernel/src/main/scala/me/rexim/morganey/church/ChurchPairConverter.scala#L38)
- https://github.com/keddelzz/hidden-args

[2016-10-09 15:57] rexim commented on #248
Morganey syntax cannot be expressed with LBNF of BNFC utility, because it doesn't support unicode. And we need that for the lambda symbol

[2016-10-09 15:57] #248 closed, assigned to rexim

[2016-10-09 16:03] rexim opened #251 "Flex grammar for Morganey syntax"
Split from https://github.com/morganey-lang/Morganey/issues/246#issuecomment-252421294

[2016-10-09 16:30] rexim opened #253 "Welcome message in REPL"
REPL should print a standard splash with Welcome message and version of Morganey.

[2016-10-09 16:41] keddelzz commented on #253
For a idea how the message could be, here's the welcome message of scala's repl.

[code]

See also the position of this message in the scala [sources](https://github.com/scala/scala/blob/05016d9035ab9b1c866bd9f12fdd0491f1ea0cbb/src/compiler/scala/tools/nsc/Properties.scala#L20).

[2016-10-09 16:47] #250 closed, assigned to keddelzz

[2016-10-09 17:21] #240 closed, assigned to rexim

[2016-10-10 15:38] rexim commented on #247
After a brief research I concluded that unfortunately I don't see [let-morganey-rest](https://github.com/morganey-lang/let-morganey-rest) suitable as a server for Morganey development tools integration. Here are the reasons:
1. **Sessions.** It meant to work in multiuser environment where each user has their own isolated session. It's a complete overkill in case of our autocompletion server and ab

[2016-10-10 15:44] 06needhamt commented on #247
@rexim Sounds Really Good To Me Especially Because No Other Applications Are Required

[2016-10-10 17:14] rexim commented on #222
This issue has been split from #216.

### Pieces
- [x] #256 Add specs for ModuleFinder.findModuleInClasspath
- [x] #258 Use classpath modules in MorganeyCompiler
- [x] #257 Use classpath modules in ReplAutocompletion

[2016-10-10 17:15] rexim opened #256 "Add specs for ModuleFinder.findModuleInClasspath"
Split from https://github.com/morganey-lang/Morganey/issues/222#issuecomment-252682563

[2016-10-10 17:15] rexim opened #257 "Use classpath modules in REPL autocompletion"
Split from https://github.com/morganey-lang/Morganey/issues/222#issuecomment-252682563

[2016-10-10 17:15] rexim opened #258 "Use classpath modules in MorganeyCompiler"
Split from https://github.com/morganey-lang/Morganey/issues/222#issuecomment-252682563

[2016-10-10 20:20] keddelzz commented on #247
I'm not sure if I like the idea of the new mode in morganey.

Pros of the new mode:
- It only provides functionality, which is required (no sessions, no database)
- No separate application

Cons of the new mode:
- Replication of code from `let-morganey-rest`
- It also introduces additional maintenance cost in Morganey

##

I don't really see the advantage to implement the autocompletion server in

[2016-10-11 03:44] ForNeVeR commented on #247
Well, ideally we should either extract the editing support from let-morganey-rest to Morganey, or put the functionality described by @rexim into let-morganey-rest (or a new, independent module?)

What will be more convenient for us? From the code base point of view I think that it'll be slightly better to store that in a core module (i.e. Morganey itself).

In any case, there should be no code dup

[2016-10-11 09:00] rexim commented on #247
@keddelzz @ForNeVeR if both approaches are almost the same from the developer's point of view, what about the user's one? I mean just a single jar for REPL, Execution and Autocompletion server is rather convenient and @06needhamt pretty much confirmed that.

[2016-10-14 16:26] rexim commented on #237
Split at #259

### Remaining work
- [x] #260 Backport configuration to 0.0.1
- [x] ~#261 Publish Morganey 0.0.1 to JCenter~
- [x] ~#323 Backport 93c35c2 to 0.0.1~
- [x] ~#324 Publish Morganey 0.0.2 to JCenter~
- [x] #325 Publish 0.1.0 to JCenter

[2016-10-14 16:27] rexim opened #260 "Backport JCenter publish configuration to 0.0.1"
Split from #237

[2016-10-14 16:27] rexim opened #261 "Publish Morganey 0.0.1 to JCenter"
Split from #237

[2016-10-16 12:32] rexim commented on #247
Alright, since all of the stakeholder `+1`-ed my previous comment I consider the decision of introducing the Server Mode to Morganey Interpreter accepted.

[2016-10-16 15:55] rexim opened #264 "Mention that the language is interpreted in the description"
Because there were concerns about that.

[2016-10-16 17:37] #260 closed, assigned to rexim

[2016-10-16 17:45] #256 closed, assigned to rexim

[2016-10-16 18:23] rexim opened #266 "Refactor me.rexim.morganey.util._ package"
[package.scala](https://github.com/morganey-lang/Morganey/blob/4d258629c75581a19a1ef5c951bf7e606a8fad71/kernel/src/main/scala/me/rexim/morganey/util/package.scala)
### Pieces
- [x] Move `sequence` stuff to `me.rexim.morganey.monad`
- [x] Move `unquoteString` to `LambdaParser`
- [x] #276 Move `validRegex` to `Commands`
- [x] #277 Move `reader` stuff to `me.rexim.morganey.reader`
- [x] #278 Move `Pa

[2016-10-16 20:39] rexim opened #268 "Publish snapshot Morganey version to JCenter"
For those who's not afraid to work with unstable dependencies. Would be also good to automate that. Maybe automatically publish on PR merge.

[2016-10-16 21:34] rexim commented on #246
Changed the title of the ticket, because it looked like it's a duplicate of #251

[2016-10-16 21:40] rexim commented on #8
Reference: https://github.com/tsoding/Issuestant/pull/9/files

[2016-10-16 21:42] rexim commented on #29
I'm not even sure how to maintain a correct normal order in parallel.

[2016-10-16 22:00] rexim commented on #68
If we want to be able to write more or less useful programs in Morganey we have to be able to output arbitrary things on stdout without Smart Church Detection™. I see some kind of special mode for execution where `main` returns list of numbers and those numbers are printed literally as ASCII codes to stdout. That will enable us with outputing anything as long as it's expressible in Pure Untyped La

[2016-10-16 22:00] #68 closed, assigned to rexim

[2016-10-16 22:09] rexim commented on #108
Keep in mind that the semantic of `input` was changed recently in #219. `input` is a global binding now.

[2016-10-17 03:27] ForNeVeR commented on #268
I second that; it'll be an interesting experience how to automate the task.

Please consider the security of the solution. Theoretically, attacker always could trick us to merge the backdoor into the build system (simply because we're mere humans), so he could compromise the build server security. If possible, we should take care of that problem by limiting the scope of the problem to only the Mor

[2016-10-17 07:29] rexim commented on #81
Moved to https://github.com/morganey-lang/morganey-mode

[2016-10-17 07:29] #81 closed, assigned to rexim

[2016-10-17 17:28] 06needhamt commented on #246
Also see https://github.com/morganey-lang/morganey-intellij-plugin/issues/4

[2016-10-17 19:33] #258 closed, assigned to rexim

[2016-10-19 07:10] #264 closed, assigned to rexim

[2016-10-21 02:50] rexim opened #270 "Error on publishing Morganey 0.0.1 on JCenter"
Blocks #261
### Reproduction steps
- Switch to branch `release-0.0.1`
- Publish Morganey to JCenter with [bintray-sbt](https://github.com/softprops/bintray-sbt#publishing)
### Observed

An error at the of the publishing:

[code]
### Expected

No errors during the publishing

---

Nothing critical though. stdlib is simply not published. Which doesn't matter because Morganey 0.0.1 cannot load module

[2016-10-21 03:03] rexim opened #271 "Cannot resolve hidden-args after using Morganey 0.0.1 from JCenter"
Blocks #261
### Reproduction steps
- Write a small sbt project that uses Morgnaey 0.0.1 as a dependency:

[code]
- Build the project
### Observed

[code]
### Expected

The project build successfully.

---

Probably [hidden-args](https://github.com/keddelzz/hidden-args) needs to be published somewhere.

[2016-10-21 03:08] rexim commented on #271
See https://github.com/keddelzz/hidden-args/issues/25

[2016-10-21 03:10] rexim commented on #270
After trying to use what's been published as a thirdparty dependency in a sample project I see the following error:

[code]

It tries to find some `morganey-std` declaration of I cannot find anyway. This is probably the stdlib. See #271  for more info.

[2016-10-21 03:12] rexim commented on #261
Blocked by:
- [x] #270 Error on publishing Morganey 0.0.1 on JCenter
- [x] #271 Cannot resolve hidden-args after using Morganey 0.0.1 from JCenter

[2016-10-23 16:38] rexim commented on #247
Btw, what do you guys think about this thing? https://github.com/Microsoft/language-server-protocol

Maybe we should implement this protocol instead of using HTTP.

[2016-10-23 16:38] rexim commented on #247
~~Oh, I was corrected that it's already HTTP! :) Which probably makes it even easier.~~

Ignore that! They're trying to confuse me!

[2016-10-23 17:59] 06needhamt commented on #247
This looks good to me because it seems like it handles all relevant file events for you

[2016-10-24 03:25] ForNeVeR commented on #247
Well, it seems like the protocol is supported by VSCode, some [Eclipse plugin / mod](http://www.eclipse.org/che/) and [Atom](https://atom.io/packages/atom-languageclient), and also for example Rust guys [are building](https://github.com/jonathandturner/rustls) their tooling for it. Also there's [a Java "binding"](https://github.com/TypeFox/ls-api) (whatever that means).

So I think it's a good ide

[2016-10-24 16:51] rexim opened #275 "Multiline expressions"
I wanna be able to implement `takeWhile` function like this:

[code]

Instead of this:

[code]

[2016-10-24 16:56] rexim opened #276 "Move validRegex to Commands"
Split from #266

https://github.com/morganey-lang/Morganey/blob/a068e9b46148172d9fd883e26b8e6238842dda80/kernel/src/main/scala/me/rexim/morganey/util/package.scala#L14

[2016-10-24 16:57] rexim opened #277 "Move reader stuff to me.rexim.morganey.reader"
Split from #266

https://github.com/morganey-lang/Morganey/blob/a068e9b46148172d9fd883e26b8e6238842dda80/kernel/src/main/scala/me/rexim/morganey/util/package.scala#L22

[2016-10-24 16:58] rexim opened #278 "Move ParseOps and InputSource closer to LambdaParser"
Split from #266

https://github.com/morganey-lang/Morganey/blob/a068e9b46148172d9fd883e26b8e6238842dda80/kernel/src/main/scala/me/rexim/morganey/util/package.scala#L51

[2016-10-24 17:00] rexim opened #279 "Move logic inside of ParseOps.parseWith to InputSource"
Split from #266

https://github.com/morganey-lang/Morganey/blob/a068e9b46148172d9fd883e26b8e6238842dda80/kernel/src/main/scala/me/rexim/morganey/util/package.scala#L55

[2016-10-24 17:14] rexim opened #280 "Cannot find std.prelude on Windows"
Build log https://ci.appveyor.com/project/rexim/morganey/build/490#L569 from #272 hints that something got broken on Windows after #258

We need to check if the following commands work on Windows:
- `$ sbt funtests`
- `$ sbt "run docs/samples/fib.mgn"`

[2016-10-24 17:32] 06needhamt commented on #280
Tested on Windows Both tests were carried out from a fresh clone of the `master`branch

The command `sbt funtests` Fails with the following output

[code]

And `sbt "run docs/samples/fib.mgn"` Fails with the following output

[code]

[2016-10-24 17:45] rexim commented on #280
@06needhamt cool, thx!

[2016-10-26 08:49] ForNeVeR opened #281 "Add more samples"
Current [samples](https://github.com/morganey-lang/Morganey/tree/82d3165bdc4943b835d2e0f61765327de61d8215/docs/samples) are not presentable enough. To show Morganey to guys, I want examples of "Hello world" and more simple examples with annotated output.

[2016-10-26 09:26] rexim commented on #281
@ForNeVeR I'm sorry, but what do you mean by "annotated output"?

[2016-10-26 09:46] rexim commented on #281
@ForNeVeR I've planned this for next Morning Tsoding. I'd really appreciate if you created a list of exact samples you need and it posted here. Later I'll implement this list right on the stream. Thanks!

[2016-10-26 09:53] ForNeVeR commented on #281
@rexim by "annotated output" I mean that you should write command output in comments. For example, (in python) that would be

[code]

[2016-10-26 10:02] ForNeVeR commented on #281
...and I'll try to create the example list tonight.

[2016-10-26 15:04] ForNeVeR commented on #281
So, okay, let's think about it.
1. Add a "Hello world" program. _(Seriously, we haven't one.)_
2. Add an arithmetic example. E.g. define and explain a `multiply` function (yeah, I know that the standard library have one), print a result of `2*8`.
3. Add an interactive example. `echo` program: read line and print it back.
4. List functions example. `ohce` program: read line and print it back​_wards

[2016-10-26 15:08] rexim commented on #281
@ForNeVeR thanks for the specs! I'll do mah best!

Yeah, it can. The `input` binding simply ends on EOF. We probably need to document it in https://github.com/morganey-lang/Morganey/wiki/Execution-Mode-Semantic#input-stream

[2016-10-26 15:09] rexim opened #282 "Document EOF detection"
Derived from https://github.com/morganey-lang/Morganey/issues/281#issuecomment-256377041

[2016-10-29 09:37] keddelzz opened #284 "Refactor ReplAutocompletion"
I suggest refactoring `ReplAutocompletion` before #257.

Currently `ReplAutocompletion` implements a few functions, which should be moved to `ModuleFinder` before #257. Those Functions all deal with finding and listing module-files and should therefore be placed in `ModuleFinder`.
#### Functions that should be moved:
##### [topLevelDefinitions](https://github.com/morganey-lang/Morganey/blob/82d316

[2016-10-29 17:54] rexim commented on #284
@keddelzz sounds good to me. I'm accepting this proposal. Thanks for sharing such an important knowledge! Is it ok if I assign this to myself and resolve on Sunday's stream?

[2016-10-30 07:13] #280 closed, assigned to rexim

[2016-10-30 17:46] rexim opened #285 "Autocomplete bindings in :unbind command"

[2016-10-30 17:50] keddelzz commented on #284
I'm sorry, that I didn't answer earlier!

Of course it is okay, if you assign this to yourself :)

[2016-10-30 19:38] #231 closed, assigned to rexim

[2016-10-31 12:53] BjoernLoetters opened #288 "Nullpointer Exception in AutoCompletion on MacOS"
[code]

--

Steps to reproduce the error:
- Start the REPL
- type `load <tab>`

[2016-10-31 13:10] rexim commented on #288
@kuchenkruste, thanks for reporting this! Could you please clarify how exactly you start the REPL? Via `sbt run` or via fatjar?

[2016-10-31 18:38] keddelzz commented on #288
The REPL was started via the fatjar. He used the version from the master-branch.

[2016-10-31 18:49] rexim commented on #288
And another condition is there should be no `std/` folder in the current directory. So the full reproduction steps for a developer are:

[code]

I can reproduce that on my Linux too. This is probably caused by the fact that autocompletion uses old file-based mechanism of discovering modules. This issue should be resolved by #257.

---

On the other hand, the application should not fail with NPE ju

[2016-10-31 18:52] rexim commented on #288
Let me see what we can do here...

[2016-10-31 21:56] BjoernLoetters commented on #288
Just to be clear: The NPE occurred despite there was a `std/` folder relative to the fatjar. Furthermore the "load" command did succeed, only the autocompletion failed.

[2016-10-31 22:26] rexim commented on #288
That is strange. Did this folder contain anything?

That's an expected behaviour. :) Loading and autocomplete use different module discovery mechanisms until #257 is resolved. It succeeded because it loaded them right from the fatjar. Autocomplete cannot load stuff from jars yet.

[2016-10-31 22:28] rexim commented on #288
@kuchenkruste btw, you can checkout the branch from #289 and check if it fixes the issue in your environment. :)

[2016-11-01 11:30] #288 closed, assigned to BjoernLoetters

[2016-11-01 11:31] rexim commented on #288
@kuchenkruste the fix is merged to master. Please check if the problem is still reproducible for you. Thanks!

[2016-11-01 13:51] BjoernLoetters commented on #288
I'll do that asap :-)

[2016-11-02 10:11] BjoernLoetters commented on #288
It seems like that the NPE doesn't occur anymore. Sadly the autocompletion still doesn't work either (`load <tab>` simply does nothing). Maybe there is a problem with sym-links? I've moved the fatjar (as well as the `std/` folder) to a separate folder, created a .sh script and linked /usr/local/bin/morganey to it.
It may be possible that I screwed up the path to the fatjar in the shell script. I'l

[2016-11-02 10:23] rexim opened #290 "AutoCompletion doesn't work on MacOS"
Moved from https://github.com/morganey-lang/Morganey/issues/288#issuecomment-257823242

Original comment by @kuchenkruste:

It may be possible that I screwed up the path to the fatjar in the shell script. I'll check this out.

[2016-11-02 10:24] rexim commented on #288
@kuchenkruste I'd recommend to move the discussion to #290 as it seems to be a separate incident.

[2016-11-02 10:26] rexim commented on #290
@kuchenkruste I'd suggest you to try the following scenario:
- Go to the root of source code folder of Morganey
- `$ sbt assembly`
- `$ java -jar target/scala-2.11/morganey-assembly-0.0.1.jar`
- `λ> load <tab>`

[2016-11-03 19:23] keddelzz opened #291 "Use Scala 2.12"
Now that Scala 2.12 is finally released ([source: official scala-lang website](http://www.scala-lang.org/) and [source: scala_lang on twitter](https://twitter.com/scala_lang/status/794132396593516544)), Morganey should be compiled using it.

[2016-11-04 14:12] rexim opened #292 "Merge FibFuntest into SamplesFuntest"
Derived from #286

- [FibFuntest](https://github.com/morganey-lang/Morganey/blob/41885fa4f034deebbd67f2d9d91fc79107bef438/funtests/src/test/scala/me/rexim/morganey/funtests/FibFuntest.scala)
- [SamplesFuntest](https://github.com/morganey-lang/Morganey/blob/41885fa4f034deebbd67f2d9d91fc79107bef438/funtests/src/test/scala/me/rexim/morganey/funtests/SamplesFuntest.scala)

[2016-11-04 14:13] rexim commented on #281
The issue was split at #286

### Pieces
- [ ] #293 Fix hanging of the interactive sample
- [ ] #294 Implement the CGI sample

[2016-11-04 14:14] rexim opened #293 "Fix hanging of the interactive sample"
Split from https://github.com/morganey-lang/Morganey/issues/281#issuecomment-258441946

### Steps to reproduce

    $ sbt "run docs/samples/05-interaction.mgn"

### Observed

Sample hangs indefinetly

### Expected

Sample behaves according to the original sample description by @ForNeVeR:

https://github.com/morganey-lang/Morganey/issues/281#issuecomment-256375872

[2016-11-04 14:14] rexim opened #294 "Implement the CGI sample"
Split from https://github.com/morganey-lang/Morganey/issues/281#issuecomment-258441946

Original description by @ForNeVeR:

https://github.com/morganey-lang/Morganey/issues/281#issuecomment-256375872

[2016-11-04 14:27] #285 closed, assigned to keddelzz

[2016-11-06 11:45] keddelzz commented on #275
I've looked into why multi-line expressions are not working right now:

#### The current situation

At the moment white-space (except line-breaks) is handled by the parser-combinator library. The parser disallows the usage of line-breaks in applications and it requires at least one line-break between the bindings. To allow multi-line expression line-breaks must be allowed between any term. The pro

[2016-11-06 11:57] keddelzz commented on #275
I don't want to push the decision in any direction, but I tried using the explicit keyword `def` for the definition of the bindings locally. The changes that i did, were extremely easy and work completely as desired.

Excerpt from a test mgn-file:

[code]

[2016-11-06 12:15] BjoernLoetters commented on #275
That's a nice idea. I believe that line breaks are absolutely necessary.

I would prefer to mark the bindings with a keyword instead of appending a semicolon (but that's a matter of taste). A clear advantage of a keyword would be the possibility of syntax highlighting (I've never seen an editor with syntax highlighting for semicolons).

The use of the keyword `def` would allow to use the classic `

[2016-11-06 12:29] rexim commented on #275
@keddelzz I briefly read your proposal. Thank you very much for looking into that! A bit later I'm gonna read it carefully and answer something. In the meantime could you please show the changes you did in https://github.com/morganey-lang/Morganey/issues/275#issuecomment-258676245 ? Maybe in a form of PR that closes this issue? Thanks!

[2016-11-06 12:34] keddelzz commented on #275
Yes, of course i will push it in a few minutes, I'm gonna clean up the code a bit.

[2016-11-06 13:52] keddelzz commented on #275
@rexim You can find a PR which shows the changes I did in #295.

[2016-11-06 13:55] rexim commented on #275
@keddelzz cool! Thank you very much for spending your time on this! I'll try to find some time to look into this tomorrow. Thanks!

[2016-11-07 14:44] rexim commented on #275
@keddelzz ok, I read the results of your research and I agree with the solution. Thank you very much! Let me review the PR...

[2016-11-07 14:58] #275 closed, assigned to keddelzz

[2016-11-07 15:13] rexim commented on #249
I think we can simply refer to the [docs/samples/](https://github.com/morganey-lang/Morganey/tree/fbd08497b9d84336d1fc2d7546510ed6d3a20aef/docs/samples) folder in the README.

[2016-11-09 04:14] rexim opened #299 "Periodic failures on CI"
Derived from https://github.com/morganey-lang/Morganey/pull/296#issuecomment-259325563

### Symptoms

Sometimes the build (both on Travis and AppVeyor) hangs without producing any output for quite some time which makes both of the platform kill the build by their timeouts.

Never reproducible locally.

[2016-11-10 03:11] #249 closed, assigned to rexim

[2016-11-14 14:59] rexim commented on #290
@kuchenkruste is this still reproducible?

[2016-11-14 15:11] rexim commented on #294
To implement that we need some kind of raw mode that outputs Church Lists of Church Numbers explicitly without any Smart Detection™. And I'm still not sure how it will fit the entire design of the language. Need to think about it a bit more.

[2016-11-14 16:14] #292 closed, assigned to rexim

[2016-11-17 20:54] BjoernLoetters commented on #290
Sorry for my delayed response, my studies take up all my time. I'm really sorry.

Regarding to your question: Yes, it is still reproducible. I think the problem here is, that I've created a symbolic link to a shell script which itself executes the fat-jar. When executing the fat-jar directly everything works fine. I didn't look into the code, but it seems like there is something wrong with the par

[2016-11-18 08:44] rexim commented on #290
@kuchenkruste cool! Thank you very much for the update! No need to be sorry. We all are busy with our own lifes and I completely understand that. I was just going through Morganey issues looking for something I could quickly close and decided to ping you just in case. :)

I wanna try to reproduce that on my Linux. We can probably convert that into a bug with formal reproduction instructions.

[2016-11-19 14:51] rexim commented on #290
NixOS 16.03 couldn't reproduce

[code]

[2016-11-19 14:53] rexim opened #301 "Low performance of Turing Machine sample"
Derived from https://github.com/morganey-lang/Morganey/pull/298#issuecomment-261374742

[2016-11-19 15:04] rexim commented on #251
Moved to https://github.com/morganey-lang/morganey-intellij-plugin/issues/17

[2016-11-19 15:04] #251 closed, assigned to rexim

[2016-11-19 15:05] rexim commented on #246
According to https://github.com/morganey-lang/morganey-intellij-plugin/issues/17 and https://github.com/morganey-lang/morganey-intellij-plugin/pull/18 this issue is no longer in the scope of this repository. Closing as invalid.

[2016-11-19 15:05] #246 closed, assigned to rexim

[2016-11-21 04:27] #284 closed, assigned to rexim

[2016-11-27 15:47] rexim commented on #257
This issue has been split.

### Pieces

- [x] #303 Develop morganey module index format
- [x] #305 Make ModuleFinder collect and merge indices
- [x] #306 Use indices mechanism in ReplAutocompletion
- [x] #304 Make stdlib subproject build morganey module index

[2016-11-27 15:48] rexim opened #303 "Develop morganey module index format"
Split from #257

[2016-11-27 15:48] rexim opened #304 "Make stdlib subproject build morganey module index"
Split from #257

[2016-11-27 15:49] rexim opened #305 "Make ModuleFinder collect and merge indices"
Split from #257

[2016-11-27 15:49] rexim opened #306 "Use indices mechanism in ReplAutocompletion"
Split from #257

### Progress

- [x] Extract and cover with tests
    - [x] `object LoadStatement`
    - [x] `object SimpleCommand`
    - [x] #311 Cover ReplAutocompletion with UTs
- [x] #312 Reimplement `autocompleteLoadStatement` with Morganey index

[2016-11-27 15:50] rexim commented on #303
After this issue is done, create an issue for Gradle plugin.

[2016-11-29 17:04] #303 closed, assigned to rexim

[2016-11-29 17:06] rexim opened #309 "Morganey module container autoindexer"
Derived from https://github.com/morganey-lang/Morganey/pull/307#issuecomment-263191537

[2016-12-04 12:31] #305 closed, assigned to rexim

[2016-12-05 18:49] rexim opened #311 "Refactor ReplAutocompletion object and cover it with tests"
Split from #306

- [x] `object CommandWithArg`
- [x] `def lastNameInLine()`
  - [x] Scala docs
  - [x] Unit tests
- [x] #316 `def matches()`
- [x] #315 `def matchingDefinitions()`

[2016-12-05 18:53] rexim opened #312 "Reimplement ReplAutocompletion.autocompleteLoadStatement with Morganey index"
Split from #306

[2016-12-06 04:48] ForNeVeR commented on #196
_(Moved to https://github.com/morganey-lang/Morganey/issues/95#issuecomment-265112850.)_

[2016-12-06 10:19] ForNeVeR commented on #95
_(Moved from https://github.com/morganey-lang/Morganey/issues/196#issuecomment-265059969.)_

You know guys what's interesting? I'm running [my another project](https://github.com/ForNeVeR/checktimer) in Windows 8.1 terminal now, and it seems that it handles Unicode properly if executing _without_ sbt (i.e. `java -cp .../scala-xxx.jar;./checktimer.jar my.fornever.Class`), but it **cannot** handle t

[2016-12-06 12:38] ForNeVeR commented on #95
Nope, it doesn't work with Morganey.

[2016-12-06 12:39] rexim commented on #95
@ForNeVeR as far as I know both sbt and Morganey use JLine.

[2016-12-06 12:40] ForNeVeR commented on #95
Okay, I'll test with pure Java application. Probably that's really a JLine issue, thanks for the info.

[2016-12-06 12:42] ForNeVeR commented on #95
Nope, it doesn't work in pure Java application. Definitely a JVM issue.

[2016-12-09 18:49] rexim commented on #33
Superseded by https://github.com/morganey-lang/community/issues/43

[2016-12-09 18:49] #33 closed, assigned to rexim

[2016-12-14 05:16] rexim opened #314 "Setup wartremover"
https://github.com/puffnfresh/wartremover

In this scope of this issue just setup Wartremover, see what fails and if it's easy to fix - fix it. Otherwise ignore that with an annotation and file a separate issue for that. Try to spend no more than 1 hour on this issue.

[2016-12-15 19:57] rexim opened #315 "Cover ReplAutocompletion.matchingDefinitions() with UTs"
Split from #311

[2016-12-15 19:58] rexim opened #316 "Cover ReplAutoCompletion.match() with UTs"
Split from #311

[2016-12-26 11:40] #316 closed, assigned to rexim

[2016-12-27 13:48] #315 closed, assigned to rexim

[2016-12-27 13:49] #311 closed, assigned to rexim

[2017-01-14 18:36] rexim opened #320 "All the module manipulations should be done via abstraction of the Module entity"
Here is the class: [Module.scala](https://github.com/morganey-lang/Morganey/blob/52bac4f7147201a772ce9fda0b22be2ff14b38f1/src/main/scala/me/rexim/morganey/module/Module.scala)

No direct File, ClassLoader, URL, path or whatever manipulations. Module is a self-content entity that know everything and provides enough.

In the scope of this issue just go through the code base and find all of the place

[2017-01-15 17:12] rexim opened #321 "Disable Waffle"
After introducing GitHub projects it is not needed anymore. It also annoys me with putting this `in progress` label everywhere.

[2017-01-16 20:56] rexim commented on #321
Done! I hope...

[2017-01-16 20:56] #321 closed, assigned to rexim

[2017-01-16 20:57] #312 closed, assigned to rexim

[2017-01-16 20:57] #306 closed, assigned to rexim

[2017-01-16 21:02] rexim commented on #290
@kuchenkruste after merging #319 Morganey fully supports autocompletion of modules from jar. The fatjar is completly self-content. Please try to reproduce the problem again when you get a chance. Thanks!

[2017-02-06 11:44] keddelzz commented on #253
To print some welcome message like `Welcome to Morganey REPL (<version>)` we need the current version  of Morganey.

One way to achieve this is with the sbt plugin [sbt-buildinfo](https://github.com/sbt/sbt-buildinfo). Using it you can generate sources (containing version numbers) from the sbt build definition.

---
There are of course multiple ways to implement this, but I just scrolled through t

[2017-02-06 11:52] keddelzz commented on #253
I just saw, that we're already using sbt-buildinfo (see [here](https://github.com/morganey-lang/Morganey/blob/9a48f6ce99474007576b9345ba9791c631bd6fa2/build.sbt#L18) and [here](https://github.com/morganey-lang/Morganey/blob/9a48f6ce99474007576b9345ba9791c631bd6fa2/project/plugins.sbt#L7)).

[2017-02-06 12:23] rexim commented on #253
Right, we use it to properly compose a name of the fatjar to run it for Funtional Testing, if I remember correctly.

[2017-02-13 14:05] #304 closed, assigned to nobody

[2017-02-13 14:05] #257 closed, assigned to nobody

[2017-02-13 14:05] #222 closed, assigned to rexim

[2017-02-13 14:06] #216 closed, assigned to nobody

[2017-02-15 18:37] rexim commented on #271
`morganey % 0.0.1` that is published to JCenter depends on `hidden-args % 0.0.1-SNAPSHOT`. But there is only `hidden-args % 0.0.1` available in the public repos. We need to backport 93c35c2e517180225720a6eff926c9b6af8b5c87 to `0.0.1` to resolve #270 and make it publishable and usable as a thirdparty dependency. And according to http://semver.org/#spec-item-6 we will have to increment the version a

[2017-02-15 18:40] rexim opened #323 "Backport 93c35c2 to 0.0.1"
Derived from https://github.com/morganey-lang/Morganey/issues/271#issuecomment-280098402
Blocks #324
Subtask of #237

Backport 93c35c2 to 0.0.1

[2017-02-15 18:42] rexim opened #324 "Publish Morganey 0.0.2 to JCenter"
Derived from https://github.com/morganey-lang/Morganey/issues/271#issuecomment-280098402
Blocked by #323
Subtask of #237

[2017-02-15 18:42] #271 closed, assigned to rexim

[2017-02-15 18:43] rexim commented on #270
Won't fix because of https://github.com/morganey-lang/Morganey/issues/271#issuecomment-280098402

[2017-02-15 18:43] #270 closed, assigned to rexim

[2017-02-15 18:43] rexim commented on #261
Superseded by #324

[2017-02-15 18:44] #261 closed, assigned to rexim

[2017-02-15 19:12] rexim commented on #323
I think the scope of this issue should also include upgrading the version `0.0.1 -> 0.0.2`

[2017-02-16 08:28] rexim commented on #271
On the other hand, does it really matter that much to have `0.0.2`? I mean we could easily make `0.1.0` the first available via JCenter release instead of `0.0.2`. And that doesn't require any backporting and messing with branches at all.

I'm declining `0.0.2` and working towards releasing `0.1.0`.

Note for myself: do not make any serious decisions at night.

[2017-02-16 08:30] rexim commented on #324
Declined because of https://github.com/morganey-lang/Morganey/issues/271#issuecomment-280265476

[2017-02-16 08:30] #324 closed, assigned to rexim

[2017-02-16 08:31] rexim commented on #323
Declined because of https://github.com/morganey-lang/Morganey/issues/271#issuecomment-280265476

[2017-02-16 08:31] #323 closed, assigned to rexim

[2017-02-16 08:34] rexim opened #325 "Publish 0.1.0 to JCenter"
Subtask of #237

[2017-02-16 08:41] rexim commented on #191
Another motivation: https://github.com/morganey-lang/Morganey/pull/322#issuecomment-279367056

[2017-02-16 20:49] rexim commented on #325
I tried to publish 0.1.0. But something's slightly off again. Nothing really serious. My brain is just shutting down and cannot perform basic operations. Gonna continue working on that tomorrow.

[2017-02-17 04:01] ForNeVeR commented on #325
You should reinstall OS on your brain, dawg!

[2017-02-19 18:29] rexim commented on #325
Almost all of the packages (`morganey`, `morganey-kernel`, `morganey-std`) are available via JCenter. Except `morganey-macros` for some reason. I will follow up on that one.

[2017-02-19 19:11] rexim opened #329 "Implement Module.{bindings, dependencies}"
Split from #320

https://github.com/morganey-lang/Morganey/blob/458946d8fefc71fffc8c98834a7752c9081925ab/src/main/scala/me/rexim/morganey/module/Module.scala#L10

[2017-02-19 19:12] rexim opened #330 "Remove ModuleFinder.findModuleInClasspath"
Split form #320

https://github.com/morganey-lang/Morganey/blob/458946d8fefc71fffc8c98834a7752c9081925ab/src/main/scala/me/rexim/morganey/module/ModuleFinder.scala#L15

All of the code that depends on this function should be refactored accordingly. Getting rid of this function essentially eliminates any violations of Module Entity encapsulation.

The only code that uses this function is MorganeyCo

[2017-02-19 19:13] rexim opened #331 "Extract mockClassLoaderResource into reusable thing"
https://github.com/morganey-lang/Morganey/blob/458946d8fefc71fffc8c98834a7752c9081925ab/src/test/scala/me/rexim/morganey/module/ModuleSpec.scala#L17

Reuse that thing in ModuleFinderSpec

[2017-02-19 19:14] rexim commented on #320
This issue has been split at #328

### Pieces
- [x] #329 Implement Module.{bindings, dependencies}
- [x] #330 Remove ModuleFinder.findModuleInClassp

[2017-02-20 17:39] rexim opened #332 "The build is broken"
It's probably broken because of the recent events.

- https://travis-ci.org/morganey-lang/Morganey/builds/203218890
- https://ci.appveyor.com/project/rexim/morganey/build/671

[2017-02-24 13:38] rexim commented on #325
All of the packages are successfully published.

[2017-02-24 13:38] #325 closed, assigned to rexim

[2017-02-25 10:10] #237 closed, assigned to rexim

[2017-02-25 10:51] rexim opened #334 "Set the goal for 0.2.0 release"
The goal of 0.1.0 was to deliver std-lib packed with fatjar. We delivered that. We need to set the goal for 0.2.0 now.

[2017-02-25 10:52] rexim commented on #334
@morganey-lang if you have any preferences regarding the `0.2.0` please let me know here.

[2017-02-25 11:38] keddelzz commented on #334
I think in `0.2.0` we should mainly work on performance improvements as well as on refactorings and bug-fixes.

Issues related to performance improvements:
- #29: Parallel reduction
- #59: Collapsed Applications
- #60: Detection of arithmetic operations
- #206: Performance improvement: Numbers

We should also complete the implementation of the Prelude mechanism (#79) in `0.2.0`.

[2017-03-01 13:56] rexim commented on #334
@keddelzz all of the issues you've mentioned are important, but I wouldn't plan all of them for `0.2.0`, because it's much more amount of work comparing to `0.1.0`. And `0.1.0` was just a "simple" packing of std-lib with the fatjar ;)

I'm gonna plan #59, because I already tried it and found out that it may require to heavily refactor the entire codebase. Sound like enough work for a realease. Plu

[2017-03-01 13:57] #334 closed, assigned to rexim

[2017-03-05 16:15] #329 closed, assigned to nobody

[2017-03-06 12:44] rexim commented on #299
I believe this affects both AppVeyor and Travis now. The symptoms are similar. I'm extending the scope of this incident.

[2017-03-06 12:44] rexim commented on #332
Was caused by #299

[2017-03-06 12:44] #332 closed, assigned to rexim

[2017-03-06 12:59] rexim commented on #299
@ForNeVeR suggested that the problem might be with the caches. We have to try to flush them or disable completely.

[2017-03-06 17:41] #191 closed, assigned to nobody

[2017-03-06 19:52] rexim commented on #299
Ran the following command locally 5 times:

[code]

This command is close to the configuration on CI. The average time is `1m13s`. The symptoms were not reproduced.

### Environment

- NixOS 16.09
- 8Gb of RAM
- Intel Core i7
- OpenJDK 64-Bit 1.8.0_76

[2017-03-07 03:44] ForNeVeR commented on #299
I just want to note that this kind of behavior is unusual for these CI sites; I can't observe this kind of behavior with any other projects known to me.

[2017-03-20 16:20] #276 closed, assigned to nobody

[2017-03-20 16:20] #277 closed, assigned to nobody

[2017-03-20 16:20] #278 closed, assigned to rexim

[2017-03-20 16:20] #279 closed, assigned to nobody

[2017-03-20 16:21] #266 closed, assigned to rexim

[2017-03-27 17:03] rexim commented on #299
I stopped working on this issue, because of the lack of time. In #337 I've collected some data from different build experiments. I'd recommend to try to reproduce the problem in the corresponding Travis docker image https://docs.travis-ci.com/user/common-build-problems/#Troubleshooting-Locally-in-a-Docker-Image

[2017-04-03 16:37] rexim opened #340 "Samples execution instructions don't work"
Introduced in #339
TODO: `aa4e7fae-0a00-4af9-91c9-36bb6389ab99`

---

### Reproduction Instructions

- cd to the root of the project
- `$ sbt "run docs/samples/fib.mgn"`

### Observed

Error message

[code]

### Expected

15 first fibonacci numbers

[2017-04-03 16:38] rexim opened #341 "Improve usability of morganey program execution"
Introduced in #339
TODO: `00beaa2c-945e-4df0-ad4f-3c38be47273c`

---

Specifying the full classpath and full entry classname just to run a program is not really usable from the user perspective.

[2017-04-03 16:40] rexim opened #342 "Print URLs of classpath on Module not found error"
Introduced in #339
TODO: `a965237a-2497-41d0-81df-1861054a0d8d`

---

That should help user to troubleshoot their not found modules

[2017-04-03 16:42] #330 closed, assigned to nobody

[2017-04-03 16:42] #331 closed, assigned to nobody

[2017-04-03 16:43] #320 closed, assigned to nobody

[2017-04-16 22:39] keddelzz opened #345 "Reimplementation of morganey's quasiqotes"
I suggest to add another feature to morganey's quasiquotation.

## Current situation

The current implementation of the quasiquotes allows some nice operarations on `LambdaTerm`s.

- putting terms into other terms
[code]

- putting scala values into terms and let them automatically be converted to `LambdaTerm`s.
[code]

- extracting terms from other terms
[code]

- extracting values from other ter

[2017-04-16 22:45] keddelzz commented on #345
I have already toyed with the implementation of the feature. The (unfinished) results can be seen [in this commit](https://github.com/morganey-lang/Morganey/commit/dd266c94023b5f6cc1c1ed7c8fbecf699e86893e).

Even if this issue gets rejected, I had a lot of fun implementing this (unfinished) feature  :)

## Todos
- [ ] Are there additional places (other than lists) where spreading multiple values/t

[2017-04-17 06:08] rexim commented on #345
@keddelzz thank you very much for the proposal! I'll take a look into it a little bit later.

[2017-04-17 11:09] keddelzz commented on #345
Yesterday the quotation only worked in expression position. Now it works in pattern position as well (see Todo `Unlifting and unsplicing LambdaTerms` above).

To see the changes you can look at [this commit](https://github.com/morganey-lang/Morganey/commit/29f291d478d5c9447379e8ee2293977d0c77a1f5).

Please note, that I haven't extensively tested the code. There will be bugs. I will test the code i

[2017-04-18 17:14] rexim commented on #345
1. To make the process of code review easier for everyone you could've created a Pull Request — the mechanism developed by GitHub team specificly for that.

2. I believe there is a mistake in this comment:

It should contains list of characters, not numbers.

3. I don't understand why do we need this feature. Couldn't we just

[code]

and get the Morganey list of numbers before? Is there anything

[2017-04-18 17:17] #342 closed, assigned to nobody

[2017-04-18 17:23] rexim opened #346 "Update samples with respect to autoloading of std.prelude module"
Split from #79
Introduced in #344
TODO [95e7de5b-e804-4b78-966a-268a0463ba01](https://github.com/morganey-lang/Morganey/search?utf8=%E2%9C%93&q=95e7de5b-e804-4b78-966a-268a0463ba01&type=)

[2017-04-18 17:25] rexim opened #347 "Try to get rid of duplicate code in REPL code"
Introduced in #79
TODO `b6a7635e-46f3-412e-848b-f770d9d4e709`

Just try. If it's too complicated, just close it.

[2017-04-18 17:26] rexim opened #348 "Implement prelude mechanism for execution mode"
Split from #79
Introduced in #344
TODO `d60b7de5-11f1-4d98-a30e-3d1baa0aae3e`

[2017-04-18 17:47] keddelzz commented on #345
Thank you for the reminder, I will create a PR now!

Fixed! Thanks for spotting that!

Yes, there is! We cannot
- extract the start of a list and match against a fixed rest
[code]
- extract the rest of a list and match against a fixed start
[code]
- do one of the above and let the numbers be automatically converted to the specified type.
[code]
or
[code]

All in all the new implementation lets us

[2017-04-19 17:26] rexim commented on #345
Why can't we just do all of those list manipulations in Scala after converting Morganey lists to Scala lists?

[2017-04-20 10:56] keddelzz commented on #345
Of course we're able to do so, but it gets quite tedious, if you've to do those things often.

[2017-04-20 13:09] rexim commented on #345
@keddelzz ok, I'll take a look at the code a little bit later. Thanks!

[2017-04-29 16:39] rexim commented on #112
After implementing prelude mechanism #79  double loading happens way more often, because now every module automatically depends on the same std.prelude. And that std.prelude will be double loaded enormous amount of times. Hense raising the priority and including to the next release.

[2017-05-04 16:03] rexim opened #351 "Use prelude module injection mechanism for REPL mode"
Introduced in #350
TODO `cadb1fd3-f2ae-452d-81c7-7d027c0cfe85`
Split from #79

Inject prelude in initial REPL context and each module loading

[2017-05-04 16:05] rexim opened #352 "Fix classLoader mock bug in ModuleSpec"
Introduced in #350
TODO `ece83383-d5d4-490f-a5b8-7f566206685f`

- Replace `mockClassLoaderResource(resourcePath, moduleContent)` -> `classLoader`
- Run the unit tests

The unit tests should not fail

[2017-05-04 16:06] #348 closed, assigned to nobody

[2017-05-15 02:39] rexim opened #354 "Move TerminalReplAutocompletion to me.rexim.morganey.autocompletion package"
Derived from #353
TODO [c5758357-67d6-4ca9-9325-9bd6d6b3556c](https://github.com/morganey-lang/Morganey/search?q=c5758357-67d6-4ca9-9325-9bd6d6b3556c)

[2017-05-15 02:40] rexim opened #355 "make global REPL context a part of MorganeyRepl"
Derived from #353
TODO [616c876e-29c3-4119-b472-c922dc917b13](https://github.com/morganey-lang/Morganey/search?q=616c876e-29c3-4119-b472-c922dc917b13)

[2017-05-15 02:41] rexim opened #356 "make ReplAutocompletion a class"
Derived from #353
TODO [c9d997f9-cd7c-4ade-830f-23c36d2d5dfc](https://github.com/morganey-lang/Morganey/search?q=c9d997f9-cd7c-4ade-830f-23c36d2d5dfc)

[2017-05-15 02:42] #347 closed, assigned to nobody

[2017-05-15 02:42] #351 closed, assigned to nobody

[2017-05-27 14:45] rexim commented on #112
@rexim Check if that's also the case for the execution mode.

[2017-05-27 17:11] rexim opened #359 "Module.load produces duplicate bindings"
### Reproduction

It doesn't have any significant side effects (except probably slightly higher memory consumption), so it's easier to reproduce that in the code.

Copy the following code to REPL:
[code]

### Expected

All binding counts are `1`

### Observed

Some bindings are repeated up to `6` times

[2017-05-28 11:42] rexim opened #360 "Improve time asymptotic of the add binding to REPL context operation"
Derived from https://github.com/morganey-lang/Morganey/pull/358#discussion_r118825185
[TODO(#360)](https://github.com/morganey-lang/Morganey/search?utf8=%E2%9C%93&q=TODO%28%5C%23360%29&type=)

[2017-05-28 11:46] rexim opened #361 "Namespace semantic of Modules"
Right now modules don't have any kind of namespace semantic. They are just names the determine from where to load bindings to global scope.

[2017-05-28 11:47] rexim commented on #361
Link with #111

[2017-05-29 02:07] #346 closed, assigned to nobody

[2017-05-29 02:07] #79 closed, assigned to nobody

[2017-06-13 06:32] #198 closed, assigned to rexim

[2017-06-14 16:46] rexim commented on #112
The issue is automatically resolved by #198

[2017-06-14 16:47] rexim commented on #112
It is the case for execution though, because of #359, which will be fixed separately.

[2017-06-14 16:47] #112 closed, assigned to nobody